/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-set-2015, 17.20.26
    Author     : d.fiori
*/


.map{
    position: relative;
    
    .map-title{
        $iconsSize: 24px;
        
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: $size-map-titlebar-h;
        z-index: 1000;
        background-color: $color-map-title-bg;
        text-align: center;
        color: $color-map-title-text;
        font-size: 1.9rem;
        line-height: 3.5rem;
        
        
        .sensor-icon, 
        .layer-icon{
            img{
                height: $iconsSize;
                width: $iconsSize;
                margin-right: 6px;
            }
        }

        .sensor-title,
        .layer-title{
            padding-top: 1px;
        }

        .title-separator{
            padding: 0px 12px;
        }
    }
    
    .map-legend{
        position: absolute;
        bottom: 40px;
        left: 20%;
    }
}