/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-ott-2015, 8.58.17
    Author     : d.fiori
*/

/*// Put language selector on top
div.menu-languages-container{
    position: absolute;
    top: 10px;
    left: 100px;
}*/


.sidebar-nav{
    @media only screen and (max-width: $screen-size-small-max) {
        
        .menu-link{
            float: left;
            width: 0.33 * $size-sidebar-rigth-width;
            height: 64px;
            border: 1px solid;
            box-sizing: border-box;
            line-height: 2rem;
            text-align: center;
            text-indent: 0px;
            
            a{
                height: 100%;
                &:hover{
                    background-color: $color_omirl_blue;
                    color: #000;
                }
                
                &.text-short{ padding-top: 20px;}
                &.text-midlength{ padding-top: 10px;}
                &.text-long{}
            }
        }
        
    }
    
}

/* Left menu sidebar */
#mapNavigation{
    z-index: 10;
}

.sidebar-menu{
    @media only screen and (max-width: $screen-size-700px) {
        position: absolute;
        top: 60px;
        left: 35vw;
        /* right: 10px; */
        /* bottom: 100px; */
        width: 350px;
        background-color: #fff;
        padding: 20px;
        z-index: 1000;
    }
}

.service-item{
    @media only screen and (max-width: $screen-size-700px) {
        
        padding: 10px 0px;
        
        i.service-icon{ 

            /* 
             * On 'not mobile' the have
             * font-size: 56px
             * icon size: 140px
             * line-height: 136px
             */

            $fontSize: 36px; // on 'not mobile' is 56px,icon size is 140px
            $iconSize: ($fontSize * 140) / 56; 
            $lineHeight: ($fontSize * 136) / 56; 


            font-size: $fontSize;
            width: $iconSize;
            height: $iconSize;
            line-height: $lineHeight;
        }
        
        h4{
            top: 0px;
            font-size: 2.4em;
            padding: 0px;
            padding-left: 20px;
            letter-spacing: -2px;
        }
        p{
            top: 3.5em;
            padding-left: 20px;

        }
        
        &.mod-meteo-marini{

            //p{ top: 6.5em; }
        }
    }
}

.ui-dialog{
    @media only screen and (max-width: $screen-size-700px) {
        width: 100vw !important;
        height: 100vh !important;
    }
}

.map-legend{
    @media only screen and (max-width: $screen-size-700px) {
        left: 10px !important;
        right: 20px;

        .map-legend-image{
            width: 100%;
        }
    }
}

.scrollable-table-container{
    //@media only screen and (max-width: $screen-size-700px) {
        overflow-x: scroll;
        h2{ font-size: 1.3em; }
        table{ font-size: 0.9em;}
    //}
}

.panel-heading.tables_page{
    //@media only screen and (max-width: $screen-size-700px) {
        padding: 0px 10px;
        padding-top: 4px;
        .form-group{
            margin-bottom: 0px;
        }
    //}
}