/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-giu-2015, 17.14.31
    Author     : d.fiori
*/

.sidebar-menu{
    .map-text-legend-selected{
        height: 2rem;
        
        &.second-level{
            height: auto;
        }
    }
    
    ul.menu-items-wrapper{
        margin: 0px;
        padding: 0px;
        
        li{
            float:left;
            box-sizing: content-box;
            padding: 2px;
            
            position: relative;
            overflow: visible;
            
            &.last-of-row{
                clear: right;
            }
            
            .sublevel-border-overlay{
                left: -4px;
                height: 8px;
                background-color: #fff;
                position: absolute;
                z-index: 100;
                bottom: -10px;
                right: -4px;
            }
        }
    }
    
    .submenu{
        margin-left: 15px;
    }
    
    
    .second-level-menu-wrapper{
        //margin-left: 15px;
        border: 1px solid #000;
        //border-top: 0px;
        padding: 6px;
    }
    
    .menu-third-level-dropdown{
        margin: 10px 0px;
        select{
            height: 3rem;
            width: 100%;
        }
    }
}

