/* 
    Created on : 5-ott-2015, 14.21.55
    Author     : Daniele Fiori
*/


.scrollable-table-container{
    height: 80vh;
    overflow: {x: hidden; y: scroll;}
    
    &.sensors{ height: 60vh; }
    &.maxtable{ height: 72vh; }
}


.sortable_col{
    &:hover{
        cursor: pointer;
    }

    &.sorted-by{
        font-weight: bold;
        background-color: #3997c6;
        color: whitesmoke;
    }
}
