/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-ott-2015, 12.22.22
    Author     : d.fiori
*/

$color_blue_active: #428bca;
$color_omirl_blue: #7fbbda;

$color-map-title-bg: #7fbbda;
$color-map-title-text: whitesmoke;

$color-sidebarmenu-legend-selected-text: #367BA0;


//**********************************************************
//* Satellite and Radar
//**********************************************************
$color-satradar-button-bg: #7FBBDA;
$color-satradar-button-hover-bg: #428bca;
$color-satradar-button-hover-text: #eee;