/* 
    Created on : 30-giu-2015, 15.02.54
    Author     : d.fiori
*/

$color_blue_active: #428bca;
$color_omirl_blue: #7fbbda;

@import "mixins";
@import "theme";

@import "gallery";
@import "sidebar_menu";
@import "tables";
@import "map";


.no-text-select{ @include noselect;}

.float{
    &-left{ float: left;}
    &-right{ float: right;}
}


.side-bar-toggle{
    &:hover{ cursor: pointer;}
}

ul.sidebar-nav{
    li{
        a{
            &:hover{ cursor: pointer;}
        }
    }
}



/**
 * Styles to override login panel styles
 */
.login-panel{
    padding: 12px !important;
}


/**
 * Styles for 'date selector' and 'now' box
 */
.date-selector-container{
    $color-date-selector-bg-past: #ffbc6c;
    //$color-date-selector-bg-past: #ffcc8f;
    $color-date-selector-back-to-now-text: #367ba0;
    
    padding-top: 5px;
    

    .date-selector{
        border-radius: 5px;
        padding: 3px;
        //padding-top: 30px;
        
        .mode-info{
            padding: 4px 4px;
            
            .back-to-now{
                &:hover{
                    cursor: pointer;
                    color: $color-date-selector-back-to-now-text;
                    
                    .fa-caret-right{visibility: visible;}
                }
                
                .fa-caret-right{visibility: hidden;}
            }
        }

        &.past{background-color: $color-date-selector-bg-past;}
    }
}