/* 
    Created on : 30-giu-2015, 15.02.54
    Author     : d.fiori
*/


$screen-size-small-max: 40em;
$screen-size-medium-min: 40.063em;
$screen-size-medium-max: 64em;
$screen-size-large-min: 64.063em;

$screen-size-700px: 700px;


$size-map-titlebar-h: 40px;

$size-sidebar-rigth-width: 250px;
$size-sidebar-left-toggle-width: 40px;
$size-sidebar-left-toggle-h: $size-map-titlebar-h;



@import "mixins";
@import "theme";

@import "gallery";
@import "sidebar_menu";
@import "tables";
@import "map";
@import "mobile";


.no-text-select{ @include noselect;}

.float{
    &-left{ float: left;}
    &-right{ float: right;}
}


.side-bar-toggle{
    &:hover{ cursor: pointer;}
}

ul.sidebar-nav{
    li{
        a{
            &:hover{ cursor: pointer;}
        }
    }
}


/**
 * Right sidebar
 */
.sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    margin-left: 20px;
    
    a{
        color: #999999;
            &:hover {
            color: #fff;
            background: none;
        }
    }
}
.menu-languages-container{
    margin-bottom: 20px;
}


/**
 * Left Sidebar
 */
.side-bar-toggle {
    position: absolute;
    right:0px;
    margin-right: -$size-sidebar-left-toggle-width;
    top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    //top: 0px;
    font-size: 2em;
    color: white;
    z-index: 2;
    background: #7fbbda;
    //height: $size-sidebar-left-toggle-h;
    height: auto;
    width: $size-sidebar-left-toggle-width;
    box-shadow: 10px 0px 10px rgba(0,0,0,.2);
    text-align: center;
    
    &.collapsed{
        
    }
}


/**
 * Styles to override login panel styles
 */
.login-panel{
    padding: 12px !important;
}


/**
 * Styles for 'date selector' and 'now' box
 */
.date-selector-container{
    $color-date-selector-bg-past: #ffbc6c;
    //$color-date-selector-bg-past: #ffcc8f;
    $color-date-selector-back-to-now-text: #367ba0;
    
    padding-top: 5px;
    

    .date-selector{
        border-radius: 5px;
        padding: 3px;
        //padding-top: 30px;
        
        .mode-info{
            padding: 4px 4px;
            
            .back-to-now{
                &:hover{
                    cursor: pointer;
                    color: $color-date-selector-back-to-now-text;
                    
                    .fa-caret-right{visibility: visible;}
                }
                
                .fa-caret-right{visibility: hidden;}
            }
        }

        &.past{background-color: $color-date-selector-bg-past;}
    }
}