/* 
    Created on : 30-giu-2015, 15.02.54
    Author     : d.fiori
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-giu-2015, 11.11.59
    Author     : d.fiori
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-ott-2015, 12.22.22
    Author     : d.fiori
*/
/* 
    Created on : 29-giu-2015, 17.30.25
    Author     : d.fiori
*/
.gallery-wrapper {
  width: 1000px;
  height: 700px;
  margin: 20px auto;
  position: relative; }
  .gallery-wrapper .loading {
    width: 100%;
    height: 100%;
    background: #ededed;
    text-align: center; }
    .gallery-wrapper .loading h1 {
      margin-top: 20%; }
  .gallery-wrapper .arrow {
    cursor: pointer;
    display: block;
    height: 5rem;
    width: 5rem;
    margin-top: 0px;
    outline: medium none;
    position: absolute;
    top: 50%;
    z-index: 5;
    font-size: 2rem;
    opacity: 0.4;
    transition: all 0.2s linear 0s; }
    .gallery-wrapper .arrow:hover {
      opacity: 1; }
    .gallery-wrapper .arrow.prev {
      left: 10px;
      text-align: left; }
    .gallery-wrapper .arrow.next {
      right: 10px;
      text-align: right; }
    .gallery-wrapper .arrow .fa {
      width: 100%; }
  .gallery-wrapper .thumbnails-wrapper {
    width: 100%; }
    .gallery-wrapper .thumbnails-wrapper .nav {
      bottom: -4px;
      display: block;
      left: 0;
      margin: 0 auto;
      right: 0;
      text-align: center;
      width: 100%;
      z-index: 5;
      overflow: hidden; }
      .gallery-wrapper .thumbnails-wrapper .nav li {
        border: 4px solid #efefef;
        cursor: pointer;
        display: inline-block;
        margin: 0 2px;
        position: relative;
        width: 64px;
        height: calc( 64px / 1.33333 + 20px);
        text-align: center;
        overflow: hidden; }
        .gallery-wrapper .thumbnails-wrapper .nav li.active {
          border-color: #7fbbda; }
        .gallery-wrapper .thumbnails-wrapper .nav li img {
          height: calc(100% - 20px); }
        .gallery-wrapper .thumbnails-wrapper .nav li span {
          position: absolute;
          height: 20px;
          font-size: 1.5rem;
          color: #333;
          background-color: rgba(255, 255, 255, 0.5);
          left: 0;
          right: 0;
          bottom: 0; }
  .gallery-wrapper .controls {
    width: 100%;
    text-align: center;
    margin-top: 10px; }
    .gallery-wrapper .controls button {
      width: 48px;
      height: 32px;
      background-color: white;
      border: 1px solid #aaa; }
      .gallery-wrapper .controls button:hover {
        border-color: #428bca;
        color: #428bca; }
      .gallery-wrapper .controls button.disabled {
        opacity: 0.5; }
  .gallery-wrapper .slider {
    margin: 20px auto;
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .gallery-wrapper .slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%; }
  .gallery-wrapper .slide.ng-hide-add {
    opacity: 1;
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);
    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0; }
  .gallery-wrapper .slide.ng-hide-add.ng-hide-add-active {
    opacity: 0; }
  .gallery-wrapper .slide.ng-hide-remove {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    display: block !important;
    opacity: 0; }
  .gallery-wrapper .slide, .gallery-wrapper .slide.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-giu-2015, 17.14.31
    Author     : d.fiori
*/
.sidebar-menu button.close-menu {
  position: absolute;
  top: 10px;
  right: 10px; }
.sidebar-menu .map-text-legend-selected {
  height: 3.4rem;
  font-size: 1.3rem;
  color: #367BA0; }
  .sidebar-menu .map-text-legend-selected.second-level {
    height: auto; }
.sidebar-menu li.map-firstlevel-icon:hover {
  cursor: pointer; }
.sidebar-menu ul.menu-items-wrapper {
  margin: 0px;
  padding: 0px; }
  .sidebar-menu ul.menu-items-wrapper li {
    float: left;
    box-sizing: content-box;
    padding: 2px;
    position: relative;
    overflow: visible; }
    .sidebar-menu ul.menu-items-wrapper li.last-of-row {
      clear: right; }
    .sidebar-menu ul.menu-items-wrapper li .sublevel-border-overlay {
      left: -4px;
      height: 8px;
      background-color: #fff;
      position: absolute;
      z-index: 100;
      bottom: -10px;
      right: -4px; }
.sidebar-menu .submenu {
  margin-left: 15px; }
.sidebar-menu .second-level-menu-wrapper {
  border: 1px solid #000;
  padding: 6px; }
.sidebar-menu .menu-third-level-dropdown {
  margin: 10px 0px; }
  .sidebar-menu .menu-third-level-dropdown select {
    height: 3rem;
    width: 100%; }

/* 
    Created on : 5-ott-2015, 14.21.55
    Author     : Daniele Fiori
*/
.scrollable-table-container {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll; }
  .scrollable-table-container.sensors {
    height: 60vh; }
  .scrollable-table-container.maxtable {
    height: 72vh; }

.sortable_col:hover {
  cursor: pointer; }
.sortable_col.sorted-by {
  font-weight: bold;
  background-color: #3997c6;
  color: whitesmoke; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-set-2015, 17.20.26
    Author     : d.fiori
*/
.map {
  position: relative; }
  .map .map-title {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    z-index: 1000;
    background-color: #7fbbda;
    text-align: center;
    color: whitesmoke;
    font-size: 1.9rem;
    line-height: 3.5rem; }
    .map .map-title .sensor-icon img,
    .map .map-title .layer-icon img {
      height: 24px;
      width: 24px;
      margin-right: 6px; }
    .map .map-title .sensor-title,
    .map .map-title .layer-title {
      padding-top: 1px; }
    .map .map-title .title-separator {
      padding: 0px 12px; }
  .map .map-legend {
    position: absolute;
    bottom: 40px;
    left: 20%; }

/* 
    Created on : 19-ott-2015, 10.37.16
    Author     : d.fiori
*/
.satellite-radar-buttons .cell-text {
  padding: 20px 10px; }
.satellite-radar-buttons .satellite-radar-buttons-header td.cell-text {
  padding: 10px 10px;
  font-size: 1.4em; }
.satellite-radar-buttons .cell-button-lastimage button {
  margin-left: 10px;
  margin-right: 1px; }
.satellite-radar-buttons .cell-button-lastimage.disabled button {
  background-color: #555555;
  cursor: not-allowed; }
.satellite-radar-buttons .cell-button-animation button {
  margin-right: 10px;
  margin-left: 1px; }
.satellite-radar-buttons .cell-button-animation.disabled button {
  background-color: #555555;
  cursor: not-allowed; }
.satellite-radar-buttons button {
  text-transform: uppercase;
  width: 150px;
  padding: 10px;
  border: 0px solid;
  background-color: #7FBBDA; }
  .satellite-radar-buttons button:hover {
    background-color: #6aa3d5; }
  .satellite-radar-buttons button.selected {
    background-color: #428bca;
    color: #eee; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-ott-2015, 11.22.28
    Author     : d.fiori
*/
/*.container-fluid{
    overflow-y: hidden;
    max-height: 100vh;

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.header-collapsed{
    //display: none;
    max-height: 0;
}*/
#contentcontainer {
  overflow-y: auto; }

@media only screen and (min-width: 40.063em) {
  body {
    overflow-y: hidden; }

  #top {
    overflow-y: hidden;
    max-height: 100vh;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out; }
    #top .container-fluid {
      max-height: 100vh;
      overflow-y: auto; }

  #contentcontainer {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out; }

  .header-collapsed {
    transform: translateY(-100vh); } }
.header-collapsed-mobile {
  display: none; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-ott-2015, 8.58.17
    Author     : d.fiori
*/
/*// Put language selector on top
div.menu-languages-container{
    position: absolute;
    top: 10px;
    left: 100px;
}*/
@media only screen and (max-width: 40em) {
  .sidebar-nav .menu-link {
    float: left;
    width: 82.5px;
    height: 64px;
    border: 1px solid;
    box-sizing: border-box;
    line-height: 2rem;
    text-align: center;
    text-indent: 0px; }
    .sidebar-nav .menu-link a {
      height: 100%; }
      .sidebar-nav .menu-link a:hover {
        background-color: #7fbbda;
        color: #000; }
      .sidebar-nav .menu-link a.text-short {
        padding-top: 20px; }
      .sidebar-nav .menu-link a.text-midlength {
        padding-top: 10px; } }

/* Left menu sidebar */
#mapNavigation {
  z-index: 10; }

@media only screen and (max-width: 700px) {
  .sidebar-menu {
    position: absolute;
    top: 60px;
    left: 35vw;
    /* right: 10px; */
    /* bottom: 100px; */
    width: 350px;
    background-color: #fff;
    padding: 20px;
    z-index: 1000; } }

@media only screen and (max-width: 700px) {
  .service-item {
    padding: 10px 0px; }
    .service-item i.service-icon {
      /* 
       * On 'not mobile' the have
       * font-size: 56px
       * icon size: 140px
       * line-height: 136px
       */
      font-size: 36px;
      width: 90px;
      height: 90px;
      line-height: 87.42857px; }
    .service-item h4 {
      top: 0px;
      font-size: 2.4em;
      padding: 0px;
      padding-left: 20px;
      letter-spacing: -2px; }
    .service-item p {
      top: 3.5em;
      padding-left: 20px; } }

@media only screen and (max-width: 700px) {
  .ui-dialog {
    width: 100vw !important;
    height: 100vh !important; } }

@media only screen and (max-width: 700px) {
  .map-legend {
    left: 10px !important;
    right: 20px; }
    .map-legend .map-legend-image {
      width: 100%; } }

.scrollable-table-container {
  overflow-x: scroll; }
  .scrollable-table-container h2 {
    font-size: 1.3em; }
  .scrollable-table-container table {
    font-size: 0.9em; }

.panel-heading.tables_page {
  padding: 0px 10px;
  padding-top: 4px; }
  .panel-heading.tables_page .form-group {
    margin-bottom: 0px; }

.webcam-dialog img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block; }

.dialogs-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: none; }

.clearfix {
  clear: both; }

li.clearfix {
  float: none; }

.no-text-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.float-left {
  float: left; }
.float-right {
  float: right; }

.padding-left {
  padding-left: 8px; }

.padding-right {
  padding-right: 8px; }

/* centered columns styles */
.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

.side-bar-toggle:hover {
  cursor: pointer; }

ul.sidebar-nav li a:hover {
  cursor: pointer; }

.logo-container-map {
  position: absolute;
  width: 300px;
  height: 48px;
  bottom: 90px;
  right: 0px;
  z-index: 1000;
  text-align: right; }
  .logo-container-map .logo-image {
    height: 100%;
    width: auto;
    margin: 0px 20px;
    padding: 0px; }
.logo-container-table .logo-image {
  height: 50px;
  padding: 0px 20px;
  margin-top: -6px; }

/**
 * Style to correct 'info tool tooltip' behaviour
 */
.map-weather-panel .tooltip.top-right {
  left: 10px !important;
  top: 2px !important; }
  .map-weather-panel .tooltip.top-right .tooltip-arrow {
    left: 28px;
    bottom: -5px; }
  .map-weather-panel .tooltip.top-right .tooltip-inner {
    min-width: 200px; }

/**
 * Right sidebar
 */
.sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
  margin-left: 20px; }
  .sidebar-brand a {
    color: #999999; }
    .sidebar-brand a:hover {
      color: #fff;
      background: none; }

.menu-languages-container {
  margin-bottom: 20px; }

/**
 * Left Sidebar
 */
.side-bar-toggle {
  position: absolute;
  right: 0px;
  margin-right: -40px;
  top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2em;
  color: white;
  z-index: 2;
  background: #7fbbda;
  height: auto;
  width: 40px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center; }

/**
 * Styles to override login panel styles
 */
.login-panel {
  padding: 12px !important; }

/**
 * Styles for 'date selector' and 'now' box
 */
.date-selector-container {
  padding-top: 5px; }
  .date-selector-container .date-selector {
    border-radius: 5px;
    padding: 3px; }
    .date-selector-container .date-selector .mode-info {
      padding: 4px 4px; }
      .date-selector-container .date-selector .mode-info .back-to-now:hover {
        cursor: pointer;
        color: #367ba0; }
        .date-selector-container .date-selector .mode-info .back-to-now:hover .fa-caret-right {
          visibility: visible; }
      .date-selector-container .date-selector .mode-info .back-to-now .fa-caret-right {
        visibility: hidden; }
    .date-selector-container .date-selector.past {
      background-color: #ffbc6c; }

.credits .row {
  margin-bottom: 30px; }
  .credits .row .col {
    text-align: center; }
.credits img {
  width: 100%; }
.credits .arpal-cima-fadeout {
  height: 65px;
  margin-top: 70px; }
  .credits .arpal-cima-fadeout .col {
    height: 100%; }
  .credits .arpal-cima-fadeout .arpal img, .credits .arpal-cima-fadeout .cima img {
    width: auto;
    height: 100%; }
  .credits .arpal-cima-fadeout .fadeout img {
    width: 80%; }

/*# sourceMappingURL=mainstyle.css.map */
