/*fonts*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,800,300,600);

@font-face {
    font-family: 'omirl';
    src:url('../fonts/omirl.eot?qtxzml');
    src:url('../fonts/omirl.eot?#iefixqtxzml') format('embedded-opentype'),
    url('../fonts/omirl.woff?qtxzml') format('woff'),
    url('../fonts/omirl.ttf?qtxzml') format('truetype'),
    url('../fonts/omirl.svg?qtxzml#omirl') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="omirl-"], [class*=" omirl-"] {
    font-family: 'omirl';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.omirl-sat-ground:before {
    content: "\e600";
}

/*END fonts*/

html,
body {
    height: 100%;
    width: 100%;
}


h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans', sans-serif;

}
.row {margin:inherit;}
h1 {font-weight: 800; }
h2, h3, h4, h5 { font-weight: 600; }
h6 { font-weight: 400;}
a, p { font-weight: 300;}
p > em { font-weight: 400; font-style: italic;}

table { margin:auto; text-align: center;}
.loghi {padding:25px; margin: auto; text-align: center; padding-top: 10px; padding-bottom: 30px;}
.logo {height:100px;}
.g2 {width:150px; height: auto; padding:0 20px; margin: 0 25px;}
.g3 {width:300px; height: auto; padding:0 20px; margin: 0 25px;}


.payoff {height: 50px; vertical-align: middle; }
.left {text-align: left; padding-left:10px;}
.right {text-align: right; padding-right:10px;}
.fixed {position: absolute; bottom: 0; margin:0;right:0;left:0; clear: both; background: white;}
.big {color:#0a5175; font-size: 8em; letter-spacing: -0.05em; line-height: 1; margin: 0; padding:0 30px;}
.medium {color:#0a5175; font-size: 4em; letter-spacing: -0.05em; line-height: 1; margin: auto; padding:0 30px; text-align: center;}
.small {color:#0a5175; font-size: 2em; letter-spacing: -0.05em; line-height: 1; margin: auto; padding:0 30px; text-align: center;}
.lead {font-size:1.1em; padding: 0; margin-top:-30px;}

.map-accordion-content ul {list-style-type: none;}
.map-accordion-content ul li {width: 30px;height: 30px; margin: 5px;}
.map-accordion-content ul li:hover {}

.panel-default { border:none; border-radius: 0!important; background-color: #fff!important; }
/*.panel-heading {width:100; margin:0}*/
.control-label {text-align: center;}

.searchclear {
    position:absolute;
    right:10px;
    top:1em;
    bottom:0;
    height:1em;
    margin:auto;
    font-size:20px;
    cursor:pointer;
    color: #e82945;
}
.searchclear:hover {color: #7fbbda; }

.searchclearall {
    top:3px;
    bottom:0;
    height:1em;
    margin:auto;
    font-size:20px;
    cursor:pointer;
    color: #e82945;
}

.searchclearall:hover {color: #7fbbda; }

#omirl-collapsable-panels {
    padding: 20px;

}

#omirl-collapsable-panels .panel-heading,
.panel-default .panel-heading {
    background: #7fbbda;
    border-color:  #0a5175;
    color: #ffffff;
    border-bottom: none;
}

#omirl-collapsable-panels .panel-heading-models,
.panel-default .panel-heading-models {
    background: #ffffff;
    border-color:  #0a5175;
    color: #ffffff;
    border-bottom: none;
}


#omirl-collapsable-panels a {
    cursor: pointer;
    text-decoration: none;
}


#omirl-collapsable-panels .panel-default {
    border-color: #0a5175 !important;
    border-radius: 4px !important;
    border: 1px solid !important;
}




/* Global Styles */
#contentcontainer {  height: 100%;}

.vert-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
}

.vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 10000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    /*position: absolute;
    top: 0;*/
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

/*
.sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
*/

#menu-toggle {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

#menu-waiting {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}
/*
.side-bar-toggle {
    position: absolute;
    right:0px;
    margin-right: -50px;
    top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3em;
    color: white;
    z-index: 2;
    background: #7fbbda;
    height: AUTO;
    width:50px;
    box-shadow: 10px 0px 10px rgba(0,0,0,.2);;

}
/*.side-bar-toggle i:before {*/
/*border-style: solid;*/
/*border-width: 50px 0 50px 50px;*/
/*border-color: transparent transparent transparent #7fbbda;*/

/*}*/



#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    /*background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

/* Intro */

.intro {
    padding: 50px 0;
}

/* Services */

.services {
    background: #7fbbda;
    /*background: #147442;*/
    padding: 20px 0;
    /*margin-bottom: 80px;*/
    color: #ffffff;
}

.service-item {
    margin-bottom: 15px;
}

i.service-icon {
    /*
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    */
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 50px;
    width: 110px;
    height: 110px;
    line-height: 106px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.service-item a:hover {text-shadow: 0 0 5px #ffffff;}
.service-icon:hover { color: #7fbbda; background-color: rgba(255,255,255,.65); box-shadow: 0 0 20px #ffffff;}


i.tables-icon {
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 28px;
    width: 48px;
    height: 48px;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}

.service-item a:hover {text-shadow: 0 0 5px #ffffff;}
.tables-icon:hover { color: #7fbbda; background-color: rgba(255,255,255,.65); box-shadow: 0 0 20px #ffffff;}

/* Callout */

.callout {
    color: #ffffff;
    display: table;
    height: 200px;
    width: 100%;
    background: url(../img/callout.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 25px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-resize-ratio {
    height: calc(100% - 50px);

}

.img-resize-ratio img{
    height: 100%;
    width: auto;

}

.zoomContainer{
    z-index: 200;
    margin-left: -10px;
}

.sectionChartDialog .ui-dialog-content{
    overflow-x: hidden !important;
}


/* Call to Action */

.call-to-action {
    color: #ffffff;
    background: #0a5175;
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map-controls-panel {height: 100%;}

.map   {
    overflow: hidden;
    height: 100%;
}

/* Footer */

footer {
    padding: 100px 0;
}

.top-scroll {
    margin-top: 50px;
}

.top-scroll a {
    text-decoration: none;
    color: inherit;
}

i.scroll {
    color: #333333;
}

i.scroll:hover {
    color: #0a5175;
}






.map-firstlevel-toolbar {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 9998;
}

.map-firstlevel-toolbar-button {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 6px 10px;
    font-size: 25px;
    line-height: 1.33;
    border-radius: 6px;
    font-family: FontAwesome;
    margin-top: 5px;
}

.map-firstlevel-toolbar-button:hover {
    background-color: #fff;
    color: #333;
    cursor:  pointer;
}

.map-secondlevel-toolbar {
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 9998;
}

.map-secondlevel-toolbar-button {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 6px 10px;
    font-size: 25px;
    line-height: 1.33;
    border-radius: 6px;
    font-family: FontAwesome;
    margin-left: 5px;
    display: -webkit-inline-box;
}

.map-secondlevel-toolbar-button:hover {
    background-color: #fff;
    color: #333;
    cursor:  pointer;
}



.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}


.map-accordion-title {
    padding-left: 5px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.map-accordion-title:hover {
    /*color: #7fbbda;*/
    /*    color: #ffffff;*/
    /*    background: blue;*/
    text-shadow: 0 0 3px #ffffff;
    text-decoration: none!important;
}

.map-accordion-content {
    color: #000000;
}

.map-controls-left-panel-row .panel-group {
    padding: 5px;
}

.map-controls-left-panel-row .panel-heading {
    background: #7fbbda;
    /*background: #147442;*/
    border-color:  #0a5175;
    color: #ffffff;
}
.map-controls-left-panel-row .panel-default {
    border-color:  #0a5175;
}
.map-controls-left-panel-row a {
    text-decoration: none;
    cursor: pointer;
}

.map-controls-left-panel-row h4 {
    font-size: 16px;
}




/* Effect 1 */
.hi-icon-effect-1 .fa {
    background: rgba(255,255,255,0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .fa:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .fa:hover {
    background: rgba(255,255,255,1);
    color: #7fbbda;
    /*background: #147442;*/
}

.hi-icon-effect-1a .fa:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.map-text-legend {
    margin-left: 10px;
    width: 90%;
}

.map-text-legend-selected {
    color: #7fbbda;
    /*color: #147442;*/
    font-weight:bold;
    word-wrap:break-word;
}

.map-text-legend-hover {
    color: #7fbbda;
    /*color: #147442;*/
    font-style: oblique;
}

.collapse.in:hover {
    overflow:visible;
}

.map-accordion-open {
    overflow:visible !important;
}


.map-third-level-link
{
    margin-left:-30px;

}

#mapNavigation
{
    opacity: 0.9;
}

.map-controls-panel {

    position: absolute;
    background: #7fbbda;





}

.map-controls-panel {
    padding: 0 0px 0 0px;
    min-width: 230px;

}


/*.map-controls-left-panel-row {*/
/*background: #7fbbda;*/
/*color: #ffffff;*/
/*height: 100%;*/

/*}*/




/*.map-controls-panel {*/
/*position: absolute;*/
/*color: #ffffff;*/
/*opacity: 0.9;*/
/*height: 100%;*/
/*overflow-y: auto;*/


/*-webkit-transition: left 0.4s ease 0s;*/
/*-moz-transition: left  0.4s ease 0s;*/
/*-ms-transition: left  0.4s ease 0s;*/
/*-o-transition: left  0.4s ease 0s;*/
/*transition: left  0.4s ease 0s;*/
/*}*/




.map-panel {
    width: 100%;
    z-index: -1;

;
}

.map-controls-clip {
    background: red;
}

@-webkit-keyframes 'popupfadein' {
    0% {
        background-color: #000000;
        opacity: 0.0;
    }

    100% {
        background-color: #000000;
        opacity: 0.8;
    }
}


.olPopup {
    /*background: #eee;
    border: 1px solid #ccc;*/
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 200px;
}

/* arrows - :before and :after */
.olPopup:before {
    position: absolute;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid #eee;
    border-bottom: 7px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
    left: -14px;
    top: 20px;
    content: '';
}

.olPopup:after {
    position: absolute;
    display: inline-block;
    border-top: 6px solid transparent;
    border-right: 6px solid #eee;
    border-bottom: 6px solid transparent;
    left: -12px;
    top: 21px;
    content: '';
}

.olPopup {
    -webkit-animation-name: popupfadein;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}


.map-geo-search
{
    margin-left: 20px;
    margin-top:15px!important;
    width: 100%;
    padding-right: 35px;
}


.map-geo-search-button {
    /* margin-right: 30px; */
    font-size: 20px;
    color: #333;
    /*color: #147442;*/
    opacity: 1;
    position: absolute;
    margin-left: -25px;
    margin-top: 5px;
    min-width: 150px;
}

.map-geo-search-text {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-color: #0a5175;
}


/*
.map-legend-map {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 40px;
    color: #000000;
}

.map-legend-map a {
    color: #000000;
}

.map-legend-stations {
    position: absolute;
    bottom: 45px;
    right: 0px;
    left:0;
    margin:auto;
    font-size: 40px;
    color: #000000;
}

.map-legend-stations a {
    color: #000000;
}

.map-legend-image {
    opacity: 0.8;
}
*/
/*
[class*="map-legend-"] table, 
[class^="map-legend-"] table 

*/
/*.map-legend-map,*/
/*.map-legend-stations*/
/*{*/
/*width: 50%;*/
/*position: relative;*/
/*margin-top:-80px;*/
/*left:0px;*/
/*opacity: 0.8;*/
/*text-align: center;*/

/*}*/
/*.map-legend-stations {margin-top:-130px;}*/

/*.dropdown {position: inherit;}*/
/*.dropdown .open {position: absolute;}*/




/*
.map-legend ul{
    position:fixed;
    bottom:0px;

}
*/
[class*="map-legend-"] li {display: -webkit-box; list-style: none;float: left;}

[class*="map-legend-"] li:first-child {width:50px; height:60 }
.map-legend-stations a,
.map-legend-stations ul {margin-bottom:0px;}


/*[class*="-legend-icon"] {  text-align: center;  }*/

.map-legend-map {}

.basemaps-dropdown-menu-item {
    color: #333333 !important;
}


.basemaps-dropdown-menu-item:hover {
    color: #333333 !important;
}

.basemaps-dropdown-menu-item-selected {
    font-weight: bold !important;
}

.basemaps-dropdown-menu-item-selected {
    font-weight: bold !important;
}


ul.dropdown-menu {
    position: fixed;

    top: 0;
    left: 150px;
}

#tablesSearchPanel ul.dropdown-menu {
    position: absolute;
}






/* ===========================================
                START ico
================================================ */

a:hover, a:focus {
    color: #2a6496;
    text-decoration: inherit;
}

.map-weather-panel
{
    width:110%;
    padding: 10px 0;
    margin-left: 20px;
}

.map-weather-panel li {float:left; font-size:32px; line-height: 1; padding: 0px; margin: 2px 8px; display: flex;}
#omirl-collapsable-panels {
    clear: both;
}

.dropdown li {width:100%; line-height: 1em;}
.map-weather-panel > .dropdown ul li, [class*="accordion-content"] .dropdown ul li  { font-size:0.85em; width: 100%; margin-left: 0; }
[class*="accordion-content"] .dropdown ul li {margin: 0; }
.map-weather-panel > .dropdown ul li :hover,
[class*="accordion-content"] .dropdown ul li :hover{background-color: #7fbbda; color:white;  width: 100%; }

.map-weather-panel-icon
{
    cursor: pointer;
    border: none !important;
}

.map-weather-panel a {
    cursor: pointer;
}

.map-weather-panel-text {
    font-size: 20px;
    padding-top: 8px;
    padding-left: 15px;
}

.map-firstlevel-icon {
    margin: 10px 0 0 15px;
    padding: 0px;
    position: relative;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #eaedf0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.map-tablelink-icon {
    margin: 10px 0 0 15px;
    padding: 0px;
    position: relative;
    width: 132px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #eaedf0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.img-map-tablelink-icon {
    width: 96px;
    height: 32px;
}

.img-map-firstlevel-icon {
    width: 30px;
    height: 30px;
}

.map-firstlevel-icon-selected {
    border: 1px solid #000000;
    background: #7fbbda;
    -webkit-transition: all .3s;
    transition: all .3s;
}


.map-firstlevel-icon:hover {
    border: 1px solid #000000;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.map-tablelink-icon:hover {
    border: 2px solid #000000;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.map-back-icon {
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
    width: 20%;
    margin-left: 10px;
}

.map-back-icon-disabled {
    color: #808080;
}

.map-back-icon-disabled:hover {
    color: #808080;
}

.map-base-layer {
    color: #000000;
    padding-top: 10px;
}

.map-base-layer a {
    color: #000000;
}

.map-base-layer:hover a {
    color: #ffffff;

    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}


.map-statics {
    color: #000000;
    padding-top: 10px;
    margin-left: 10px;
}

.map-statics a {
    color: #000000;
}

.map-statics:hover a {
    color: #ffffff;

    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.map-reset-zoom {
    /*font-size: 28px;*/
    color: #000000;
}

.map-reset-zoom a {
    color: #000000;
}

.map-reset-zoom:hover a {
    color: #ffffff;

    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}



/* ================  END  ico ==================== */








.stationsPopupImage {
    width: 32px;
    height: 32px;
}

.stationsPopupPanel {
    font-family: Roboto,Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
}

.stationsPopupPanel h4{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 16px;
}

.stationsPopupPanel p {
    font-family: Roboto,Arial,sans-serif;
}

/*
.sensor-legend-icon {
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-right: 5px;
}
.map-legend-icon {
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-right: 5px;
}
*/


.olControlZoom {
    right: 8px !important;
    top: 60px !important;
    left: initial !important;
    margin-right: 10px;
}



/*--------------------
    media responsive
-----------------------*/

@media (max-width: 768px) {

    .header {
        /*        background: url(../img/bg.jpg) no-repeat center center scroll;*/
    }

    .callout {
        background: url(../img/callout.jpg) no-repeat center center scroll;
    }

    /*    .map {        height: 75%;    }*/

}



@media only screen and (max-width: 980px) {

    .service-item   { display:  flex; padding:20px; }
    .service-item h4,
    .service-item p {position: absolute; padding:0 50px; width:70%; text-align: left;}

    .service-item p {bottom: 50px; left: 25%; }
    .service-item h4 {font-size: 3em; left: 25%; }

    .services {padding: 0 0 100px 0;}

}






/* AGGIUNTE PAOLO 30/05/2014 */

/* Stile della barra del titolo delle finestre di dialogo di jQuery: viene usata nella finestra di visualizzazione grafici dei sensori. Io preferisco nasconderla direttamente */
.ui-dialog-titlebar {
    /*  display: none;*/
}



.loading {
    position:absolute;
    width: 98%;
    height: 98%;
    display: inline;
    z-index: 1001;
    overflow: hidden;
    background: url('../img/Spinner.gif') no-repeat center #fff;
}

.login-panel {
    padding: 3px;
    color: rgb(153, 153, 153);
}

.loginError {
    color: red !important;
}

.btn-logout {
    margin-left: 15px;
}

.bs-callout-error {
    border-left-color: #d9534f !important;
}

.bs-callout-ok {
    border-left-color: #3c763d !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

#settingsMap {
    height: 200px;
}

.loginWaiting {
    padding-left: 60px;
}

/*.stationtablerow {*/
/*padding-top: 3px;*/
/*padding-bottom: 3px;*/
/*cursor: pointer;*/
/*text-align: left;*/
/*}*/

/*.stationtablerow tr {*/
/*padding-top: 3px;*/
/*padding-bottom: 3px;*/
/*cursor: pointer;*/
/*background-color: rgba(255,255,255,.65);*/
/*-webkit-transition: 0.5s;*/
/*-moz-transition: 0.5s;*/
/*-o-transition: 0.5s;*/
/*-ms-transition: 0.5s;*/
/*transition: 0.5s;*/
/*}*/


/*.stationtablerow th*/
/*{*/
/*text-align: left;*/
/*font-size: 18px;*/
/*}*/

.stationtablerow th {font-size:1em; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 100;}
/*.stationtablerow td {width: 25%;}*/
.stationtablerow td:first-child {text-align: left; padding-left:20px;}
.table>tbody>tr>td {border-top: none;}
.Tabella_Stazioni {padding: 1em 5em;}
/*.stationtablerow tr:hover :not(th)  {*/
/*color: #ffffff;*/
/*background-color: #7fbbda;*/
/*}*/
/*.table tr {border-bottom:none; border-top:none;}*/

.panel-footer label {width:100%; text-align: center; margin:auto;}

.ui-dialog {
    -webkit-box-shadow: 0 0 10px 0 ;
    box-shadow: 0 0 10px #555 ;
}

.tables-link  {
    cursor: pointer;
    font-size: 22px;
    color: white;
}

.tables-link:hover  {
    font-size: 24px;
}

.tables-link-row {
    padding-top: 10px;
    padding-left: 3px;
}

.table-export-button-panel {
    font-size: 28px;
    cursor: pointer;
}

.models-table-green-cell {
    background-color: green;
}

.models-table-yellow-cell {
    background-color: yellow;
}


.models-table-red-cell {
    background-color: red;
}

.max-table-border-cell {
    border: 2px solid #000000 !important;

}

.max-table-green-cell {
    background-color: #ffffff !important;
}

.max-table-yellow-cell {
    background-color: #878787 !important;
}
.max-table-red-cell {
    background-color: #030101 !important;
    color: #ffffff !important;
}

.link-text-decoration-none
{
    text-decoration: none;
}

.link-color-darkblue
{
    color: darkblue;
}
/*.table-export-button-panel:hover { font-size: 30px;}*/




table.omirltbl {
    border-collapse:collapse;
    margin-bottom:15px;
    width:90%;
}

caption.omirltbl {
    text-align:left;
    font-size:15px;
    padding-bottom:10px;
}

table.omirltbl td,
table.omirltbl th {
    padding:5px;
    border:1px solid #fff;
    border-width:0 1px 1px 0;

}

thead.omirltbl th {
    /*background:#91c5d4;*/
    background:#7fbbda;
}

thead.omirltbl th[colspan],
thead.omirltbl th[rowspan] {
    background:#66a9bd;
}

tbody.omirltbl th,
tfoot.omirltbl th {
    text-align:left;
    /*background:#91c5d4;*/
    background:#7fbbda;
}

tbody.omirltbl td,
tfoot.omirltbl td {
    text-align:center;
    background:#d5eaf0;
}

tfoot.omirltbl th {
    background:#b0cc7f;
}

tfoot.omirltbl td {
    background:#d7e1c5;
    font-weight:bold;
}

tbody.omirltbl tr.odd td {
    background:#bcd9e1;
}

tbody.omirltbl td.odd {
    background:#bcd9e1;
    cursor:pointer;
}

/*-----Evidenzia la data e ora di riferimento----*/
.div-time-clock
{
    padding: 10px 0px 0px 20px;
    margin-bottom: -20px;
}
.i-time-clock-now
{
    color: green;
}
.i-time-clock-past
{
    color: #ffff00;
}

/*------User table--------------*/

.table-user-td-left-align{
    text-align: left !important;
}

/*------User table--------------*/

.button-icon {
    margin-right: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    border: 1px solid #eaedf0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;

}

.button-icon:hover {
    border: 2px solid #428bca;
    background-color: #f8f8f8;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.h2-text-center{
    text-align: center;
}

.tooltip.top{
    max-width: 200px !important;
    height: auto;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

