
<div ng-include="'partials/animationsmenu.html'"></div>
<div style="text-align: center;">
    <h1 class="medium">{{ 'INDEX_SATRADAR' | translate }}</h1> <br/>

    <hr/>
    <br/>
    <h2>Satellite</h2>
    <table class="satellite-radar-buttons">
        <!-- Header -->
        <tr class="satellite-radar-buttons-header">
            <td></td>
            <td class="cell-text" colspan="2" align="center">Area Nord Italia</td>
            <td class="cell-text" colspan="2" align="center">Area Mediterraneo</td>
            <td class="cell-text" colspan="2" align="center">Rapid Scan</td>
        </tr>
        <!-- Visibile -->
        <tr>
            <td class="cell-text">Visibile</td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button class="selected">Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
        </tr>
        <!-- Infrarosso-->
        <tr>
            <td class="cell-text">IR10.8</td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
        </tr>
        <!-- Combinato -->
        <tr>
            <td class="cell-text">Radar+Fulmini+IR10.8</td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
        </tr>
    </table>

    <hr/>
    <br/>
    <img src="img/msgir_medi_ani.gif" alt="">
    
    <br><br><br><br>
</div>
