
<div ng-include="'partials/animationsmenu.html'"></div>
<div style="text-align: center;">
    <h1 class="medium">{{ 'INDEX_SATRADAR' | translate }}</h1> <br/>

    <hr/>
    <br/>
    <h2>Satellite</h2>
    <table class="satellite-radar-buttons">
        <!-- Header -->
        <tr class="satellite-radar-buttons-header">
            <td></td>
            <td class="cell-text" colspan="2" align="center">Area Nord Italia</td>
            <td class="cell-text" colspan="2" align="center">Area Mediterraneo</td>
            <td class="cell-text" colspan="2" align="center">Rapid Scan</td>
        </tr>
        <!-- Visibile -->
        <tr>
            <td class="cell-text">Visibile</td>
            <td class="cell-button-lastimage"><button  ng-click="m_oController.setImage('Vis')" ng-class="{ selected : m_oController.isActive('Vis'+'Img') }">Ultima immagine</button></td><td class="cell-button-animation"><button ng-click="m_oController.setAnimation('Vis')" ng-class="{ selected : m_oController.isActive('Vis'+ 'Ani') } ">Animazione</button></td>
            <td class="cell-button-lastimage"><button ng-click="m_oController.setImage('VisMed')" ng-class="{ selected : m_oController.isActive('VisMed'+'Img') }">Ultima immagine</button></td><td class="cell-button-animation"><button ng-click="m_oController.setAnimation('VisMed')" ng-class="{ selected : m_oController.isActive('VisMed'+ 'Ani') } ">Animazione</button></td>
            <td class="cell-button-lastimage"><button ng-click="m_oController.setImage('VisRSS')" ng-class="{ selected : m_oController.isActive('VisRSS'+'Img') }">Ultima immagine</button></td><td class="cell-button-animation"><button ng-click="m_oController.setAnimation('VisRSS')" ng-class="{ selected : m_oController.isActive('VisRSS'+ 'Ani') } ">Animazione</button></td>
        </tr>
        <!-- Infrarosso-->
        <tr>
            <td class="cell-text">IR10.8</td>
            <td class="cell-button-lastimage"><button ng-click="m_oController.setImage('Ir')" ng-class="{ selected : m_oController.isActive('Ir'+'Img') }">Ultima immagine</button></td><td class="cell-button-animation"><button ng-click="m_oController.setAnimation('Ir')" ng-class="{ selected : m_oController.isActive('Ir'+ 'Ani') } ">Animazione</button></td>
            <td class="cell-button-lastimage"><button ng-click="m_oController.setImage('IrMed')" ng-class="{ selected : m_oController.isActive('IrMed'+'Img') }">Ultima immagine</button></td><td class="cell-button-animation"><button ng-click="m_oController.setAnimation('IrMed')" ng-class="{ selected : m_oController.isActive('IrMed'+ 'Ani') } ">Animazione</button></td>
            <td class="cell-button-lastimage"><button ng-click="m_oController.setImage('IrRSS')" ng-class="{ selected : m_oController.isActive('IrRSS'+'Img') }">Ultima immagine</button></td><td class="cell-button-animation"><button ng-click="m_oController.setAnimation('IrRSS')" ng-class="{ selected : m_oController.isActive('IrRSS'+ 'Ani') } ">Animazione</button></td>
        </tr>
        <!-- Combinato -->
        <tr>
            <td class="cell-text">Radar+Fulmini+IR10.8</td>
            <td class="cell-button-lastimage"><button ng-click="m_oController.setImage('MosaicoMCM')" ng-class="{ selected : m_oController.isActive('MosaicoMCM'+'Img') }">Ultima immagine</button></td><td class="cell-button-animation"><button ng-click="m_oController.setAnimation('MosaicoMCM')" ng-class="{ selected : m_oController.isActive('MosaicoMCM'+ 'Ani') } ">Animazione</button></td>
            <td class="cell-button-lastimage disabled"><button>Ultima immagine</button></td><td class="cell-button-animation disabled"><button>Animazione</button></td>
            <td class="cell-button-lastimage disabled"><button>Ultima immagine</button></td><td class="cell-button-animation disabled"><button>Animazione</button></td>
            <!--<td class="cell-button-lastimage"><button ng-click="m_oController.setImage('MosaicoSRI')" ng-class="{ selected : m_oController.isActive('MosaicoSRI'+'Img') }">Ultima immagine</button></td><td class="cell-button-animation"><button ng-click="m_oController.setAnimation('MosaicoSRI')" ng-class="{ selected : m_oController.isActive('MosaicoSRI'+ 'Ani') } ">Animazione</button></td>
            <td class="cell-button-lastimage"><button ng-click="m_oController.setImage('MosaicoSRI2')" ng-class="{ selected : m_oController.isActive('MosaicoSRI2'+'Img') }">Ultima immagine</button></td><td class="cell-button-animation"><button ng-click="m_oController.setAnimation('MosaicoSRI2')" ng-class="{ selected : m_oController.isActive('MosaicoSRI2'+ 'Ani') } ">Animazione</button></td>-->
        </tr>
    </table>

    <hr/>
    <br/>
    <img  ng-src="{{m_oController.m_sActiveLink}}"  alt="">
    
    <br><br><br><br>
</div>
