
<div style="text-align: center;">
    <h1 class="medium">{{ 'INDEX_SATRADAR' | translate }}</h1> <br/>

    <hr/>
    <br/>

    <table class="satellite-radar-buttons">
        <!-- Header -->
        <tr class="satellite-radar-buttons-header">
            <td></td>
            <td class="cell-text" colspan="2" align="center">Regione Liguria</td>
            <td class="cell-text" colspan="2" align="center">Regione Piemonte</td>
            <td class="cell-text" colspan="2" align="center">Nazionale</td>
        </tr>
        <!-- Rain 10 min -->
        <tr>
            <td class="cell-text">Pioggia 10'</td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button class="selected">Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
        </tr>
        <!-- Rain 1 hour -->
        <tr>
            <td class="cell-text">Pioggia 10'</td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
        </tr>
        <!-- Rain 1 hour + rainmeters -->
        <tr>
            <td class="cell-text">Pioggia 10'</td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
        </tr>
        <!-- Reflectivity -->
        <tr>
            <td class="cell-text">Pioggia 10'</td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
            <td class="cell-button-lastimage"><button>Ultima immagine</button></td><td class="cell-button-animation"><button>Animazione</button></td>
        </tr>
    </table>

    <hr/>
    <br/>
    <img src="img/msgir_medi_ani.gif" alt="">
    
    <br><br><br><br>
</div>
