<div style="text-align: center;">
    <h1 class="big">OMIRL</h1>
    <h2>
        {{'CREDITS_CREDITI' | translate}}
    </h2>
    
    <div class="container credits">
        <div class="row row-centered">
            <div class="col-xs-6 col-centered"><img src="img/logo_coop_marittima_1024x219.png"/></div>
        </div>
        <div class="row row-centered">
            <div class="col-xs-6 col-centered">
                <a href="http://www.proterina.info/" target="_blank"><img src="img/logo_proterina_1024x207.png"/></a>
            </div>
        </div>
        <div class="row row-centered arpal-cima-fadeout">    
            <div class="col col-xs-3 col-centered arpal">
                <a href="http://www.arpal.gov.it/" target="_blank"><img src="img/logo-arpal_regione.png"/></a>
            </div>
            <div class="col col-xs-3 col-centered cima">
                <a href="http://www.cimafoundation.org/" target="_blank"><img src="img/logo_cima.png"/></a>
            </div>
            <div class="col col-xs-3 col-centered fadeout">
                <a href="http://www.fadeout.it/" target="_blank"><img src="img/logo_fadeout.png"/></a>
            </div>
        </div>
    </div>
    <!--
    <img src="img/wip.png" alt="Work in Progress">
    -->
</div>
