<nav class="map-controls-panel col-md-2 col-xs-3" id="mapNavigation" style="z-index: 9999;">
    <div class="side-bar-toggle">
        <i class="" 
           ng-class="{'fa fa-align-justify fa-rotate-90': !isSideBarCollapsed(), 'fa fa-align-justify' : isSideBarCollapsed()}" 
           ng-click="toggleSideBarClicked()"></i>
    </div>

    <div id="omirl-collapsable-panels" class="date-selector-container" ng-show="m_oController.m_oConstantsService.canUserUseDateSelect()">
        <div class="dropdown date-selector" ng-class="{'past' : m_oController.m_bNowMode == false}">
            <div class="mode-info">
                <span ng-show="m_oController.m_bNowMode == true">{{'MAP_TIMENOW' | translate}}</span>
                        <span ng-show="m_oController.m_bNowMode == false"
                              class='back-to-now'
                              ng-click="m_oController.setNow()">
                            <i class="fa fa-clock-o"></i> {{'MAP_TIMEPAST' | translate}} <i class="fa fa-caret-right"></i>
                        </span>
            </div>
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                <div class="input-group"><input type="text" class="form-control" data-ng-model="m_oController.m_oReferenceDate">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="m_oController.m_oReferenceDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" data-on-set-time="m_oController.onTimeSet(newDate, oldDate)"/>
            </ul>
        </div>

    </div>

    <div id="omirl-collapsable-panels">


        <!--
        ############################################
        #   Stazioni
        ############################################
        -->
        <accordion close-others="true">
            <accordion-group  >
                <accordion-heading>
                    <div>
                        <div class="icon icon-gauge pull-left"></div>
                        <span class="map-accordion-title">{{ 'GALLERY_TITOLO' | translate}}</span>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                    </div>
                </accordion-heading>
                <div class="map-accordion-content">
                    
                    <sidebar-menu
                        menu-title="Prova titolo"
                        menu-link-items="menuLinkItemsList"
                        submenu-list-var-name='sublevelGalleryLink'
                        on-sub-item-click='getGallery'
                        on-sub-item-unclick='resetGallery'
                        >

                    </sidebar-menu>
                    
                    <!--
                    <div class="row">
                        <div class="map-text-legend">

                            <div class="map-text-legend-selected">{{m_oController.m_oTableService.m_sTableLegendSelected}}
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div ng-repeat="oTable in m_oController.m_oTableService.getTableLinks()"
                             class="col-md-1 col-xs-1 map-firstlevel-icon"
                             ng-class="{'map-firstlevel-icon-selected': oTable.isActive}"
                             tooltip-popup-delay="500" tooltip="{{oTable.description}}">
                            <img class="img-map-firstlevel-icon" ng-src="{{oTable.imageLinkOff}}"
                                 ng-click="m_oController.m_oTableService.tableLinkClicked(oTable)"/>
                        </div>
                    </div>
                    -->

                </div>
            </accordion-group>
        </accordion>

    </div>
</nav>
