<nav class="map-controls-panel col-md-2 col-xs-3" id="mapNavigation" style="z-index: 9999;">
    <div class="side-bar-toggle">
        <i class="" 
           ng-class="{'fa fa-align-justify fa-rotate-90': !isSideBarCollapsed(), 'fa fa-align-justify' : isSideBarCollapsed()}" 
           ng-click="toggleSideBarClicked()"></i>
    </div>



    <div id="omirl-collapsable-panels">


        <!--
        ############################################
        #   Stazioni
        ############################################
        -->
        <accordion close-others="true">
            <accordion-group  is-open="true">
                <accordion-heading>
                    <div>
                        <div class="icon icon-gauge pull-left"></div>
                        <span class="map-accordion-title">{{ 'GALLERY_TITOLO' | translate}}</span>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                    </div>
                </accordion-heading>
                <div class="map-accordion-content">
                    
                    <sidebar-menu
                        menu-title="Prova titolo"
                        menu-link-items="menuLinkItemsList"
                        submenu-list-var-name='sublevelGalleryLink'
                        on-sub-item-click='getGallery'
                        >

                    </sidebar-menu>
                    
                    <!--
                    <div class="row">
                        <div class="map-text-legend">

                            <div class="map-text-legend-selected">{{m_oController.m_oTableService.m_sTableLegendSelected}}
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div ng-repeat="oTable in m_oController.m_oTableService.getTableLinks()"
                             class="col-md-1 col-xs-1 map-firstlevel-icon"
                             ng-class="{'map-firstlevel-icon-selected': oTable.isActive}"
                             tooltip-popup-delay="500" tooltip="{{oTable.description}}">
                            <img class="img-map-firstlevel-icon" ng-src="{{oTable.imageLinkOff}}"
                                 ng-click="m_oController.m_oTableService.tableLinkClicked(oTable)"/>
                        </div>
                    </div>
                    -->

                </div>
            </accordion-group>
        </accordion>

    </div>
</nav>
