<div class="map container-fluid" style="padding-left: 0px; padding-right: 0px">
    <div class="logo-container-map">
            <img class="logo-image" src="img/logo-regione.png" alt="Logo regione Liguria">
            <img class="logo-image" src="img/logo-arpal.png" alt="Logo Arpal">
    </div>

    <div id="webcam-dialogs-container" class="dialogs-container"></div>
    <div class="row">
        <div class="map-panel col-md-10 col-xs-9" id="omirlMap" ol-map zoom="9" center="8.60,44.20"
            controls="zoom,navigation,attribution,mousePosition">
            <div class="map-title">
                <table>
                    <tr>
                        <td class="sensor-icon"><img src="{{m_oController.m_oSelectedSensorDateTimeIcon}}"
                                 ng-hide="!m_oController.m_oSelectedSensorDateTimeIcon" alt="Sensor date time icon"/></td>
                        <td class="sensor-title">{{m_oController.m_oSelectedSensorDateTimeInfo}}</td>
                        <td class="title-separator" ng-hide="!m_oController.m_oSelectedSensorDateTimeInfo || !m_oController.m_oSelectedMapDateTimeInfo">-</td>
                        <td class="layer-icon"><img src="{{m_oController.m_oSelectedMapDateTimeIcon}}"
                                                    ng-hide="!m_oController.m_oSelectedMapDateTimeIcon" alt="Map date time icon"/></td>
                        <td class="layer-title">{{m_oController.m_oSelectedMapDateTimeInfo}}</td>
                    </tr>
                </table>
                <!--
                <div class="sensor-icon">
                    <img src="{{m_oController.m_oSelectedSensorDateTimeIcon}}">
                </div >
                <div class="sensor-title">
                    
                </div>
                <div class="layer-icon">
                    <img src="{{m_oController.m_oSelectedMapDateTimeIcon}}">
                </div>
                <div class="layer-title">
                    {{m_oController.m_oSelectedMapDateTimeInfo}}
                </div>
                -->
            </div>

        </div>
        <!--<div class="map-controls-panel" >
        <!--        col-md-10 col-xs-9          -->

        <nav class="map-controls-panel col-md-2 col-xs-3" id="mapNavigation">
            
            <!--      col-xs-6 col-md-2       -->

            <!--<div class="map-geo-search grid row ">
                <div class="map-geo-search-text col-xs-8 col-md-8">
                    <input type="search" class="form-control" placeholder="Cerca Localita'">
                </div>
                <div class="map-geo-search-btn col-xs-2 col-md-2">
                    <button class="btn">Cerca</button>
                </div>
            </div> -->

            <div class="side-bar-toggle" ng-class="{'collapsed': m_oController.isSideBarCollapsed()}">
                <i class=""
                   ng-class="{'fa fa-align-justify fa-rotate-90': !m_oController.isSideBarCollapsed(), 'fa fa-align-justify':m_oController.isSideBarCollapsed()}"
                   ng-click="m_oController.toggleSideBarClicked()"></i>
                <!--
                <i class="fa fa-bars" ng-hide="m_oController.isSideBarCollapsed() == false" ng-click="m_oController.toggleSideBarClicked()"></i>
                <i class="fa fa-chevron-left" ng-hide="m_oController.isSideBarCollapsed() == true" ng-click="m_oController.toggleSideBarClicked()"></i>
                -->
            </div>


            <!--Map geo-->

            <div class="map-geo-search input-group">
                <input type="search" class="map-geo-search-text form-control" ng-model="m_oController.m_sGeocodingQuery"
                       placeholder="{{'MAP_PH_CERCA' | translate}}" ng-keypress="m_oController.geocodingEnterSearch($event)">
                <span class="input-group-btn">
                    <a ng-click="m_oController.geocodingSearch()"><i
                            class="map-geo-search-button glyphicon glyphicon-search"></i></a>
                </span>
            </div>

            <!--Map weather-->
            <ul class="map-weather-panel">
                <!--li class="map-weather-panel-icon"
                    ng-class="{'map-firstlevel-icon-selected': m_oController.m_bIsWeatherActive}"
                    tooltip-popup-delay="500" tooltip="{{'MAP_T_SITUAZIONETEMPO' | translate}}">
                    <img class="img-map-firstlevel-icon"
                         ng-src="{{m_oController.m_bIsWeatherActive == true && 'img/chetempofa_on3.png' || 'img/chetempofa.png'}}"
                         ng-click="m_oController.ToggleWeatherLayer()"/>
                </li-->
                <!--sfondi-->

                <li class="map-base-layer dropdown">
                    <a id="basemaps" data-toggle="dropdown" tooltip-popup-delay="500" tooltip="{{'MAP_T_SFONDO' | translate}}"><i
                            class="icon icon-earth2"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="statics">
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('OpenStreetMap')">{{'MAP_OSM' | translate}}</a>
                        </li>
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('Hybrid')">{{'MAP_HYBRID' | translate}}</a>
                        </li>
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('Streets')">{{'MAP_STREET' | translate}}</a>
                        </li>
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('Physical')">{{'MAP_PHYSICAL' | translate}}</a>
                        </li>
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('Satellite')">{{'MAP_SATELLITE' | translate}}</a>
                        </li>
                        <li role="presentation">
                            <a class="basemaps-dropdown-menu-item" role="menuitem"
                               ng-click="m_oController.setBaseLayer('BW')">{{'MAP_BW' | translate}}</a>
                        </li>
                    </ul>
                </li>


                <!--Layer statici -->

                <li class="map-statics dropdown">
                    <a id="statics" data-toggle="dropdown" tooltip-popup-delay="500" tooltip="{{'MAP_T_STRATIINFO' | translate}}"><i
                            class="icon icon-map-roads pull-left"></i></a>
                    <ul class="icons-dropdown-menu dropdown-menu" role="menu" aria-labelledby="basemaps">
                        <li role="presentation" ng-repeat="oStatic in m_oController.getStaticLinks()">
                            <a class="basemaps-dropdown-menu-item"
                               ng-class="{'basemaps-dropdown-menu-item-selected': oStatic.selected}" role="menuitem"
                               ng-click="m_oController.staticLayerClicked(oStatic)">{{oStatic.description | translate}}</a>
                        </li>
                    </ul>
                </li>


                <!--zoom-->

                <li class="map-reset-zoom">
                    <a id="resetzoom" tooltip-popup-delay="500" tooltip="{{'MAP_T_RESETZOOM' | translate}}"
                       ng-click="m_oController.resetZoomClick()"><i class="fa fa-arrows-alt"></i></a>
                </li>

                <!-- Info Button -->
                <li class="map-weather-panel-icon info-tool"
                    ng-class="{'map-firstlevel-icon-selected': m_oController.m_bIsInfoActive}"
                    tooltip-popup-delay="500"
                    tooltip-class="info-tool"
                    tooltip-placement="top-right"
                    tooltip="{{'MAP_T_INFO' | translate}}">
                    <img class="img-map-firstlevel-icon"
                         ng-src="{{m_oController.m_bIsInfoActive == true && 'img/infoon.png' || 'img/info.png'}}"
                         ng-click="m_oController.ToggleInfoTool()" alt="Icon info"/>
                </li>
            </ul>
            <br/>

            <!--
            <div class="div-time-clock">
                <span>
                    <a href="#">
                        <i class="fa fa-backward fa-1x i-time-clock-past" ng-show="!m_oController.m_bNowMode" ng-click="m_oController.setNow()">Past</i>
                        <i class="fa fa-play fa-1x i-time-clock-now" ng-show="m_oController.m_bNowMode">Now</i>
                    </a>
                </span>
            </div>
            -->
            <div id="omirl-collapsable-panels" class="date-selector-container high-contrast">
                <div class="dropdown date-selector" ng-class="{'past' : m_oController.m_bNowMode == false}">
                    <div class="mode-info">
                        <span ng-show="m_oController.m_bNowMode == true">{{'MAP_TIMENOW' | translate}}</span>
                        <span ng-show="m_oController.m_bNowMode == false"
                              class='back-to-now' 
                              ng-click="m_oController.setNow()">
                            <i class="fa fa-clock-o"></i> {{'MAP_TIMEPAST' | translate}} <i class="fa fa-caret-right"></i>
                        </span>
                    </div>
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group"><input type="text" class="form-control" data-ng-model="m_oController.m_oReferenceDate">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <datetimepicker data-ng-model="m_oController.m_oReferenceDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" data-on-set-time="m_oController.onTimeSet(newDate, oldDate)"/>
                    </ul>
                </div>

            </div>

            <div id="omirl-collapsable-panels">


                <!--------------------------------------------------------------------------- Stazioni --------------------------------------------------------------------------->

                <accordion close-others="true" class="high-contrast-sidebar-menu-container">
                    <accordion-group>
                        <accordion-heading>
                            <div>
                                <div class="icon icon-gauge pull-left"></div>
                                <span class="map-accordion-title">{{'MAP_STAZIONI' | translate}}</span>
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                            </div>
                        </accordion-heading>
                        <div class="map-accordion-content">
                            <div class="row">
                                <sidebar-menu-legacy
                                    id="{{m_oController.MENU_SENSORS}}"
                                    on-init="null"
                                    controller="m_oController"
                                    menu-legend-selected="m_oController.m_sSensorLegendSelected"
                                    menu-legend-hover="m_oController.m_sMapLegendHover"
                                    is-first-level="m_oController.m_bIsFirstLevel"
                                    on-menu-item-click="m_oController.sensorLinkClicked"
                                    first-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_SENSORS][m_oController.MENU_LEVEL_1]"
                                    second-level-menu-items="null"
                                    third-level-menu-items="null"
                                    third-level-menu-selected-item="null"
                                    third-level-menu-click="null"
                                >        
                                </sidebar-menu-legacy>
                                
                                <!--
                                <div class="map-text-legend">

                                    <div class="map-text-legend-selected">{{m_oController.m_sSensorLegendSelected | translate}}
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div ng-repeat="oSensor in m_oController.getSensorLinks()"
                                     class="col-md-1 col-xs-1 map-firstlevel-icon"
                                     ng-class="{'map-firstlevel-icon-selected': oSensor.isActive}"
                                     tooltip-popup-delay="500" tooltip="{{oSensor.description | translate}}" ng-show="oSensor.isVisible">
                                    <img class="img-map-firstlevel-icon" ng-src="{{oSensor.imageLinkOff}}"
                                         ng-click="m_oController.sensorLinkClicked(oSensor)"/>
                                </div>
                                
                            </div>
                            -->
                            </div>

                            <!--<div class="row">-->
                                <!--<div class="col-md-3 col-xs-3 map-tablelink-icon" tooltip-popup-delay="500" tooltip="{{'MAP_T_RICERCASTAZIONI' | translate}}">-->
                                    <!--<img class="img-map-tablelink-icon" src="img/tablelink.png" ng-click="m_oController.tablesLinkClicked('/stationstable')"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </accordion-group>


                    <!---------------------------------------------------------------------------->
                    <!-- Mappe -->
                    <!---------------------------------------------------------------------------->

                    <accordion-group ng-class="{'map-accordion-open' : isopen}">
                        <accordion-heading>
                            <div class="icon icon-earth2 pull-left"></div>
                            <span class="map-accordion-title">{{'MAP_MAPPE' | translate}}</span><i class="pull-right glyphicon"
                                                                             ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <div class="map-accordion-content">
                            <div class="row">
                                <sidebar-menu-legacy
                                    id="{{m_oController.MENU_MAPS}}"
                                    controller="m_oController"
                                    menu-legend-selected="m_oController.m_sMapLegendSelected"
                                    menu-legend-hover="m_oController.m_sMapLegendHover"
                                    is-first-level="m_oController.m_bIsFirstLevel"
                                    on-menu-item-click="m_oController.mapLinkClicked"
                                    first-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_MAPS][m_oController.MENU_LEVEL_1]"
                                    second-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_MAPS][m_oController.MENU_LEVEL_2]"
                                    third-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_MAPS][m_oController.MENU_LEVEL_3]"
                                    third-level-menu-selected-item="m_oController.m_sMapThirdLevelSelected"
                                    third-level-menu-click="m_oController.mapThirdLevelClicked"
                                >        
                                </sidebar-menu-legacy>
                                
                            </div>  
                                <!--
                                <div class="map-text-legend">


                                    <div class="map-text-legend-selected">{{m_oController.m_sMapLegendSelected | translate}}</div>


                                    <div class="map-text-legend-hover">{{m_oController.m_sMapLegendHover | translate}}</div>

                                </div>
                                <div class="map-back-icon hi-icon-effect-1 hi-icon-effect-1a">
                                    <i class="fa fa-arrow-circle-o-left" ng-show="!m_oController.m_bIsFirstLevel"
                                       ng-click="m_oController.mapLinkClicked(null)"></i>

                                </div>
                            </div>

                            <ul class="row dropdown">
                                <li ng-show="m_oController.m_bShowThirdLevel">
                                    <button type="button" class="btn btn-info dropdown-toggle map-third-level-link"
                                            data-toggle="dropdown">{{m_oController.m_sMapThirdLevelSelected | translate}}&nbsp;<span
                                            class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="oThirdLevel in m_oController.getMapThirdLevels()"><a
                                                ng-click="m_oController.mapThirdLevelClicked(oThirdLevel)">{{oThirdLevel.description | translate}}</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>

                            <div class="row">
                                <div ng-repeat="oMapLink in m_oController.getMapLinks()"
                                     class="col-md-1 col-xs-1 map-firstlevel-icon"
                                     ng-class="{'map-firstlevel-icon-selected': oMapLink.selected}"
                                     tooltip-popup-delay="500" tooltip="{{oMapLink.description | translate}}"><img
                                        class="img-map-firstlevel-icon" src="{{oMapLink.link}}"
                                        ng-click="m_oController.mapLinkClicked(oMapLink)"/></div>
                            </div>
                                -->
                        </div>
                    </accordion-group>






                    <!--------------------------------------------------------------------------- Idro Models --------------------------------------------------------------------------->

                    <accordion-group ng-class="{'map-accordion-open' : isopen}" ng-show="m_oController.m_bShowHydro">
                        <accordion-heading>
                            <div class="icon icon-chart-line pull-left"></div>
                            <span class="map-accordion-title">{{'MAP_IDRO' | translate}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <div class="map-accordion-content">
                            <div class="row">
                                <sidebar-menu-legacy
                                    id="{{m_oController.MENU_HYDRO}}"
                                    on-init="null"
                                    controller="m_oController"
                                    menu-legend-selected="m_oController.m_sHydroLegendSelected"
                                    menu-legend-hover="m_oController.m_sHydroLegendHover"
                                    is-first-level="m_oController.m_bIsHydroFirstLevel"
                                    on-menu-item-click="m_oController.HydroLinkClicked"
                                    first-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_HYDRO][m_oController.MENU_LEVEL_1]"
                                    second-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_HYDRO][m_oController.MENU_LEVEL_2]"
                                    third-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_HYDRO][m_oController.MENU_LEVEL_3]"
                                    third-level-menu-selected-item="null"
                                    third-level-menu-click="m_oController.HydroLinkClicked"
                                >        
                                </sidebar-menu-legacy>
                                
                                
                                <!--
                                <div class="map-text-legend">
                                    <div class="map-text-legend-selected">{{m_oController.m_sHydroLegendSelected | translate}}</div>
                                    <div class="map-text-legend-hover">{{m_oController.m_sHydroLegendHover | translate}}</div>
                                </div>
                                <div class="map-back-icon hi-icon-effect-1 hi-icon-effect-1a">
                                    <i class="fa fa-arrow-circle-o-left" ng-show="!m_oController.m_bIsHydroFirstLevel"
                                       ng-click="m_oController.HydroLinkClicked(null)"></i>

                                </div>
                            </div>

                            <div class="row">
                                <div ng-repeat="oHydroLink in m_oController.getHydroLinks()"
                                     class="col-md-1 col-xs-1 map-firstlevel-icon"
                                     ng-class="{'map-firstlevel-icon-selected': oHydroLink.selected}"
                                     tooltip-popup-delay="500" tooltip="{{oHydroLink.description | translate}}"><img
                                        class="img-map-firstlevel-icon" src="{{oHydroLink.link}}"
                                        ng-click="m_oController.HydroLinkClicked(oHydroLink)"/></div>
                                -->
                            </div>
                        </div>

                        <!--<div class="row">-->
                            <!--<div class="col-md-3 col-xs-3 map-tablelink-icon" tooltip-popup-delay="500" tooltip="{{'MAP_T_RICERCASTAZIONI' | translate}}">-->
                                <!--&lt;!&ndash;<img ng-src="{{oSensor.isActive && oSensor.imageLinkOn || oSensor.imageLinkOff }}" ng-click="m_oController.sensorLinkClicked(oSensor)"/>&ndash;&gt;-->
                                <!--<img class="img-map-tablelink-icon" src="img/tablelink.png" ng-click="m_oController.tablesLinkClicked('/modelstable')"/>-->
                            <!--</div>-->
                        <!--</div>-->

                    </accordion-group>




                    <!--------------------------------------------------------------------------- Radar --------------------------------------------------------------------------->

                    <accordion-group ng-class="{'map-accordion-open' : isopen}" ng-show="m_oController.m_bShowRadar">
                        <accordion-heading>
                            <div class="icon icon-radar pull-left"></div>
                            <span class="map-accordion-title">{{'MAP_RADAR' | translate}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <div class="map-accordion-content">
                            <div class="row">
                                <sidebar-menu-legacy
                                    id="{{m_oController.MENU_RADAR}}"
                                    on-init="null"
                                    controller="m_oController"
                                    menu-legend-selected="m_oController.m_sRadarLegendSelected"
                                    menu-legend-hover="m_oController.m_sRadarLegendHover"
                                    is-first-level="m_oController.m_bIsRadarFirstLevel"
                                    on-menu-item-click="m_oController.RadarLinkClicked"
                                    first-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_RADAR][m_oController.MENU_LEVEL_1]"
                                    second-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_RADAR][m_oController.MENU_LEVEL_2]"
                                    third-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_RADAR][m_oController.MENU_LEVEL_3]"
                                    third-level-menu-selected-item="null"
                                    third-level-menu-click="m_oController.RadarLinkClicked"
                                >        
                                </sidebar-menu-legacy>
                                
                                <!--
                                <div class="map-text-legend">
                                    <div class="map-text-legend-selected">{{m_oController.m_sRadarLegendSelected | translate}}</div>
                                    <div class="map-text-legend-hover">{{m_oController.m_sRadarLegendHover | translate}}</div>
                                </div>
                                <div class="map-back-icon hi-icon-effect-1 hi-icon-effect-1a">
                                    <i class="fa fa-arrow-circle-o-left" ng-show="!m_oController.m_bIsRadarFirstLevel"
                                       ng-click="m_oController.RadarLinkClicked(null)"></i>

                                </div>
                            </div>

                            <div class="row">
                                <div ng-repeat="oRadarLink in m_oController.getRadarLinks()"
                                     class="col-md-1 col-xs-1 map-firstlevel-icon"
                                     ng-class="{'map-firstlevel-icon-selected': oRadarLink.selected}"
                                     tooltip-popup-delay="500" tooltip="{{oRadarLink.description | translate}}"><img
                                        class="img-map-firstlevel-icon" src="{{oRadarLink.link}}"
                                        ng-click="m_oController.RadarLinkClicked(oRadarLink)"/></div>
                                -->
                            </div>
                        </div>
                    </accordion-group>






                    <!--------------------------------------------------------------------------- Satellite --------------------------------------------------------------------------->

                    <accordion-group ng-class="{'map-accordion-open' : isopen}" ng-show="m_oController.m_bShowSatellite">
                        <accordion-heading>
                            <div class="icon icon-antenna pull-left"></div>
                            <span class="map-accordion-title">{{'MAP_SATELLITE' | translate}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                        </accordion-heading>
                        <div class="map-accordion-content">
                            <div class="row">
                                <sidebar-menu-legacy
                                    id="{{m_oController.MENU_SATELLITE}}"
                                    on-init="null"
                                    controller="m_oController"
                                    menu-legend-selected="m_oController.m_sSatelliteLegendSelected"
                                    menu-legend-hover="m_oController.m_sSatelliteLegendHover"
                                    is-first-level="m_oController.m_bIsSatelliteFirstLevel"
                                    on-menu-item-click="m_oController.SatelliteLinkClicked"
                                    first-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_SATELLITE][m_oController.MENU_LEVEL_1]"
                                    second-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_SATELLITE][m_oController.MENU_LEVEL_2]"
                                    third-level-menu-items="m_oController.m_aoMenuLinks[m_oController.MENU_SATELLITE][m_oController.MENU_LEVEL_3]"
                                    third-level-menu-selected-item="null"
                                    third-level-menu-click="m_oController.SatelliteLinkClicked"
                                >        
                                </sidebar-menu-legacy>
                                
                                <!--
                                <div class="map-text-legend">
                                    <div class="map-text-legend-selected">{{m_oController.m_sSatelliteLegendSelected | translate}}</div>
                                    <div class="map-text-legend-hover">{{m_oController.m_sSatelliteLegendHover | translate}}</div>
                                </div>
                                <div class="map-back-icon hi-icon-effect-1 hi-icon-effect-1a">
                                    <i class="fa fa-arrow-circle-o-left" ng-show="!m_oController.m_bIsSatelliteFirstLevel"
                                       ng-click="m_oController.SatelliteLinkClicked(null)"></i>

                                </div>
                            </div>

                            <div class="row">
                                <div ng-repeat="oSatelliteLink in m_oController.getSatelliteLinks()"
                                     class="col-md-1 col-xs-1 map-firstlevel-icon"
                                     ng-class="{'map-firstlevel-icon-selected': oSatelliteLink.selected}"
                                     tooltip-popup-delay="500" tooltip="{{oSatelliteLink.description | translate}}"><img
                                        class="img-map-firstlevel-icon" src="{{oSatelliteLink.link}}"
                                        ng-click="m_oController.SatelliteLinkClicked(oSatelliteLink)"/></div>
                                -->
                            </div>
                        </div>
                    </accordion-group>





                </accordion>
            </div>
        </nav>
    </div>
    <div class="map-legend">
        <div class="row">
            <div class="map-legend-map" ng-show="m_oController.m_bDynamicLayerActive" >
                <a tooltip-popup-delay="500" tooltip="{{m_oController.m_sMapLegendTooltip | translate}}" ng-click="m_oController.mapLegendClicked()">
                    <ul>
                        <li>
                            <img class="map-legend-icon" src="{{m_oController.m_sMapLegendIconPath}}" alt="Map legend icon">
                        </li>
                        <li>
                            <img class="map-legend-image" src="{{m_oController.m_sMapLegendPath}}"
                                 ng-show="m_oController.m_bShowMapLegendImage" alt="Map legend image">
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                </a>
            </div>
            <div class="map-legend-map" ng-show="m_oController.m_bSatelliteLayerActive" >
                <a tooltip-popup-delay="500" tooltip="{{m_oController.m_sSatelliteLegendTooltip | translate}}" ng-click="m_oController.mapLegendClicked()">
                    <ul>
                        <li>
                            <img class="map-legend-icon" src="{{m_oController.m_sSatelliteLegendIconPath}}" alt="Satellite legend icon">
                        </li>
                        <li>
                            <img class="map-legend-image" src="{{m_oController.m_sSatelliteLegendPath}}"
                                 ng-show="m_oController.m_bShowMapLegendImage" alt="Satellite legend image">
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                </a>
            </div>
            <div class="map-legend-map" ng-show="m_oController.m_bRadarLayerActive" >
                <a tooltip-popup-delay="500" tooltip="{{m_oController.m_sRadarLegendTooltip | translate}}" ng-click="m_oController.mapLegendClicked()">
                    <ul>
                        <li>
                            <img class="map-legend-icon" src="{{m_oController.m_sRadarLegendIconPath}}" alt="Radar legend icon">
                        </li>
                        <li>
                            <img class="map-legend-image" src="{{m_oController.m_sRadarLegendPath}}" alt="Radar legend image"
                                 ng-show="m_oController.m_bShowMapLegendImage">
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                </a>
            </div>

            <div class="map-legend-stations" ng-show="m_oController.m_bSensorLayerActive">
                <a tooltip-popup-delay="500" tooltip="{{m_oController.m_sSensorLegendTooltip | translate}}"  ng-click="m_oController.sensorsLegendClicked()">
                    <ul id="stations-legend-container" ng-show="m_oController.hasSensorLegendLink() == true">
                        <li><img class="sensor-legend-icon" src="{{m_oController.m_sSensorsLegendIconPath}}" alt="Sensors legend icon" style="height: 35px; vertical-align: super;"></li>
                        <li><img class="map-legend-image" src="{{m_oController.m_sSensorsLegendPath}}" alt="Sensors legend image"
                                 ng-show="m_oController.m_bShowSensorsLegendImage"></li>
                        <li class="clearfix"></li>
                    </ul>
                </a>
            </div>
        </div>
    </div>
</div>





