
    <div ng-include="'partials/datatablesmenu.html'"></div>
    <div class="container Tabella_Stazioni">

        <div class="row">
            <h1 class="medium">{{'STATION_TABLE' | translate}}</h1>
        </div>

        <hr/>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading tables_page">
                    <!--Panel heading-->
                    <div class="row">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-4 col-lg-2 col-lg-offset-4">
                                    <label for="stationType" class="control-label">{{'STATION_TIPOSENSORE' | translate}}</label>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                                    <select class="form-control" id="stationType" ng-change="m_oController.typeSelected()" ng-options="type.description | translate for type in m_oController.m_aoTypes" ng-model = "m_oController.m_oSelectedType" ng-selected="m_oController.m_oSelectedType">
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 table-export-button-panel">
                                    <i class="fa fa-download" ng-show="m_oController.m_bDowloadEnabled" ng-click="m_oController.exportCsv()"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    <!--Panel footer-->

                    <h4>{{m_oController.m_sFilterLabel}} <span id="searchclear" class="searchclearall glyphicon glyphicon-remove-circle" ng-click="m_oController.CancelAllFilters()" ng-show="m_oController.m_bShowCancelNameFilter || m_oController.m_bShowCancelDistrictFilter || m_oController.m_bShowCancelAreaFilter || m_oController.m_bShowCancelBasinFilter || m_oController.m_bShowCancelSubBasinFilter || m_oController.m_bShowCancelMunicipalityFilter"></span></h4>

                    <div class="row" id="tablesSearchPanel">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="btn-group">
                                <label >{{'STATION_SEARCHNOME' | translate}}</label>
                                <input id="searchinput" type="search" class="form-control searchinput" placeholder="{{'STATION_SEARCHNOMEPH' | translate}}"  ng-model="search.nameCode" ng-change="m_oController.NameChanged(search.nameCode)" typeahead="station.name for station in m_oController.getStationList() | filter:$viewValue">
                                <span id="searchclear" class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.CancelNameFilter()" ng-show="m_oController.m_bShowCancelNameFilter"></span>
                            </div>

                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="btn-group">
                                <label>{{'STATION_SEARCHPROVINCIA' | translate}}</label>
                                <input type="search" class="form-control searchinput" placeholder="{{'STATION_SEARCHPROVINCIAPH' | translate}}" ng-model="search.district" ng-change="m_oController.DistrictChanged(search.district)" typeahead="station.district for station in m_oController.getStationList() | filter:$viewValue">
                                <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.CancelDistrictFilter()" ng-show="m_oController.m_bShowCancelDistrictFilter"></span>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="btn-group">
                                <label>{{'STATION_SEARCHAREA' | translate}}</label>
                                <input type="search" class="form-control searchinput" placeholder="{{'STATION_SEARCHAREAPH' | translate}}" ng-model="search.area" ng-change="m_oController.AreaChanged(search.area)" typeahead="station.area for station in m_oController.getStationList() | filter:$viewValue">
                                <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.CancelAreaFilter()" ng-show="m_oController.m_bShowCancelAreaFilter"></span>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="btn-group">
                                <label >{{'STATION_SEARCHBACINO' | translate}}</label>
                                <input type="search" class="form-control searchinput" placeholder="{{'STATION_SEARCHBACINOPH' | translate}}" ng-model="search.basin" ng-change="m_oController.BasinChanged(search.basin)" typeahead="station.basin for station in m_oController.getStationList() | filter:$viewValue">
                                <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.CancelBasinFilter()" ng-show="m_oController.m_bShowCancelBasinFilter"></span>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="btn-group">
                                <label >{{'STATION_SEARCHSOTTOBACINO' | translate}}</label>
                                <input type="search" class="form-control searchinput" placeholder="{{'STATION_SEARCHSOTTOBACINOPH' | translate}}" ng-model="search.subBasin" ng-change="m_oController.SubBasinChanged(search.subBasin)" typeahead="station.subBasin for station in m_oController.getStationList() | filter:$viewValue">
                                <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.CancelSubBasinFilter()" ng-show="m_oController.m_bShowCancelSubBasinFilter"></span>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="btn-group">
                                <label >{{'STATION_SEARCHCOMUNE' | translate}}</label>
                                <input type="search" class="form-control searchinput" placeholder="{{'STATION_SEARCHCOMUNEPH' | translate}}"ng-model="search.municipality" ng-change="m_oController.MunicipalityChanged(search.municipality)" typeahead="station.municipality for station in m_oController.getStationList() | filter:$viewValue">
                                <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.CancelMunicipalityFilter()" ng-show="m_oController.m_bShowCancelMunicipalityFilter"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-body" style="padding: 0px">
                    <!--Panel content-->
                        <table class="omirltbl" style="margin-left: 0px; margin-right: 0px; width: 100%; cursor: pointer">
                            <thead class="omirltbl">
                                <tr>
                                    <th ng-click="m_oController.m_sOrderBy = 'name'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder" >{{'STATION_NOME' | translate}}</th>
                                    <th ng-click="m_oController.m_sOrderBy = 'district'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder" >{{'STATION_PROVINCIA' | translate}}</th>
                                    <th ng-click="m_oController.m_sOrderBy = 'area'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder" >{{'STATION_ZONA' | translate}}</th>
                                    <th ng-click="m_oController.m_sOrderBy = 'basin'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder" >{{'STATION_BACINO' | translate}}</th>
                                    <th ng-click="m_oController.m_sOrderBy = 'subBasin'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder" >{{'STATION_SOTTOBACINO' | translate}}</th>
                                    <th ng-click="m_oController.m_sOrderBy = 'municipality'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder" >{{'STATION_COMUNE' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody class="omirltbl">
                                <tr ng-repeat="oStation in m_oController.getStationList() | orderBy:m_oController.m_sOrderBy:m_oController.m_bReverseOrder | filter:search" ng-click="m_oController.stationClicked(oStation.stationCode, oStation.municipality, oStation.name)" ng-class="{odd: bHover}" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false">
                                    <th scope="row">{{oStation.name}}</th>
                                    <td>{{oStation.district}}</td>
                                    <td>{{oStation.area}}</td>
                                    <td>{{oStation.basin}}</td>
                                    <td>{{oStation.subBasin}}</td>
                                    <td>{{oStation.municipality}}</td>
                                </tr>
                            </tbody>
                        </table>

                </div>

            </div>
        </div>
    </div>