<div class="row">
    <div ng-include="'partials/tablesmenu.html'"></div>
    <div class="container Tabella_Stazioni">

        <div class="row">
            <h1 class="medium">Tabella Sintesi</h1>
        </div>

        <br/>

        <div class="panel-body">
            <!--Panel content-->
            <table class="table stationtablerow" >
                <thead>
                <tr>
                    <th>Provincia</th>
                    <th>Min T (°C)</th>
                    <th>Nella Stazione</th>
                    <th>Max T (°C)</th>
                    <th>Nella Stazione</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="oDistrictRow in m_oController.getTemperatureDistrictSummary()">
                    <td>{{oDistrictRow.description}}</td>
                    <td style="border-left: 1px solid #ddd;">{{oDistrictRow.min}}</td>
                    <td style="border-right: 1px solid #ddd;">{{oDistrictRow.stationmin}}</td>
                    <td>{{oDistrictRow.max}}</td>
                    <td style="border-right: 1px solid #ddd;">{{oDistrictRow.stationmax}}</td>
                </tr>
                </tbody>
            </table>

            <br/>
            <br/>
            <table class="table stationtablerow" >
                <thead>
                <tr>
                    <th>Area Allertamento</th>
                    <th>Min T (°C)</th>
                    <th>Nella Stazione</th>
                    <th>Max T (°C)</th>
                    <th>Nella Stazione</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="oAlertRow in m_oController.getTemperatureAlertSummary()">
                    <td>{{oAlertRow.description}}</td>
                    <td style="border-left: 1px solid #ddd;">{{oAlertRow.min}}</td>
                    <td style="border-right: 1px solid #ddd;">{{oAlertRow.stationmin}}</td>
                    <td>{{oAlertRow.max}}</td>
                    <td style="border-right: 1px solid #ddd;">{{oAlertRow.stationmax}}</td>
                </tr>
                </tbody>
            </table>


            <br/>
            <br/>
            <table class="table stationtablerow" >
                <thead>
                <tr>
                    <th>Vento</th>
                    <th>Max (Km/h)</th>
                    <th>Nella Stazione</th>
                    <th>Raffica (Km/h)</th>
                    <th>Nella Stazione</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="oWindRow in m_oController.getMaxWindSummary()">
                    <td>{{oWindRow.description}}</td>
                    <td style="border-left: 1px solid #ddd;">{{oWindRow.max}}</td>
                    <td style="border-right: 1px solid #ddd;">{{oWindRow.stationmax}}</td>
                    <td>{{oWindRow.gust}}</td>
                    <td style="border-right: 1px solid #ddd;">{{oWindRow.stationgust}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>