<div ng-include="'partials/tablesmenu.html'"></div>
<div class="container">

    <div class="Tabella_Stazioni">

        <div class="row">
            <h1 class="medium logo-container-table">
                <img class="logo-image" src="img/logo-arpal_regione.png" alt="Logo regione Liguria">
                {{'SUMMARY_TITOLO' | translate}}
<!--
                <img class="logo-image" src="img/logo-arpal.png" alt="Logo Arpal">
-->
            </h1>
        </div>

        <br>

        <hr/>


        <div class="row scrollable-table-container">
            <!--Panel content-->
            <table class="omirltbl" >
                <h2>{{m_oController.m_oLastDateRef}}</h2>
                <thead class="omirltbl">
                    <tr>
                        <th scope="col" rowspan="2" style="width: 20%">{{'SUMMARY_PROVINCIA' | translate}}</th>
                        <th scope="col" colspan="4">{{'SUMMARY_SINTESI1' | translate}} {{m_oController.getDayString()}} {{'SUMMARY_SINTESI2' | translate}}</th>
                    </tr>
                    <tr>
                        <th scope="col" style="width: 15%">{{'SUMMARY_MINT' | translate}}</th>
                        <th scope="col" style="width: 25%">{{'SUMMARY_STAZIONE' | translate}}</th>
                        <th scope="col" style="width: 15%">{{'SUMMARY_MAXT' | translate}}</th>
                        <th scope="col" style="width: 25%">{{'SUMMARY_STAZIONE' | translate}}</th>
                    </tr>
                </thead>
                <tbody class="omirltbl">
                <tr ng-repeat="oDistrictRow in m_oController.getTemperatureDistrictSummary()"  ng-class="{odd: bHover}" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false">
                    <th scope="row">{{oDistrictRow.description | translate}}</th>
                    <td>{{oDistrictRow.min | number:1}} {{m_oController.getFormattedRefDate(oDistrictRow.refDateMin)}}</td>
                    <td ng-click="m_oController.stationClicked(oDistrictRow.stationMin, 'temp')" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false" ng-class="{odd: bHover}">{{oDistrictRow.stationMin}}</td>
                    <td>{{oDistrictRow.max | number:1}} {{m_oController.getFormattedRefDate(oDistrictRow.refDateMax)}}</td>
                    <td ng-click="m_oController.stationClicked(oDistrictRow.stationMax, 'temp')" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false" ng-class="{odd: bHover}">{{oDistrictRow.stationMax}}</td>
                </tr>
                </tbody>
            </table>

            <br/>
            <br/>
            <table class="omirltbl" >
                <thead class="omirltbl">
                <tr>
                    <th scope="col" rowspan="2" style="width: 20%">{{'SUMMARY_ALLERTAMENTO' | translate}}</th>
                    <th scope="col" colspan="4">{{'SUMMARY_SINTESI1' | translate}} {{m_oController.getDayString()}} {{'SUMMARY_SINTESI2' | translate}}</th>
                </tr>
                <tr>
                    <th style="width: 15%">{{'SUMMARY_MINT' | translate}}</th>
                    <th style="width: 25%">{{'SUMMARY_STAZIONE' | translate}}</th>
                    <th style="width: 15%">{{'SUMMARY_MAXT' | translate}}</th>
                    <th style="width: 25%">{{'SUMMARY_STAZIONE' | translate}}</th>
                </tr>
                </thead>
                <tbody class="omirltbl">
                <tr ng-repeat="oAlertRow in m_oController.getTemperatureAlertSummary()" ng-class="{odd: bHover}" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false">
                    <th scope="row">{{oAlertRow.description | translate}}</th>
                    <td>{{oAlertRow.min  | number:1}} {{m_oController.getFormattedRefDate(oAlertRow.refDateMin)}}</td>
                    <td ng-click="m_oController.stationClicked(oAlertRow.stationMin, 'temp')" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false" ng-class="{odd: bHover}">{{oAlertRow.stationMin}}</td>
                    <td>{{oAlertRow.max  | number:1}} {{m_oController.getFormattedRefDate(oAlertRow.refDateMax)}}</td>
                    <td ng-click="m_oController.stationClicked(oAlertRow.stationMax, 'temp')" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false" ng-class="{odd: bHover}">{{oAlertRow.stationMax}}</td>
                </tr>
                </tbody>
            </table>


            <br/>
            <br/>
            <table class="omirltbl" >
                <h2>{{m_oController.m_oLastDateRefVento}}</h2>
                <thead class="omirltbl">
                    <tr>
                        <th scope="col" rowspan="2" style="width: 20%">{{'SUMMARY_ZONA' | translate}}</th>
                        <th scope="col" colspan="4">{{'SUMMARY_SINTESI1' | translate}} {{m_oController.getDayStringVento()}} {{'SUMMARY_SINTESI2' | translate}}</th>
                    </tr>
                    <tr>
                        <th scope="col" style="width: 15%" >{{'SUMMARY_MAXVENTO' | translate}}</th>
                        <th scope="col" style="width: 25%">{{'SUMMARY_STAZIONE' | translate}}</th>
                        <th scope="col" style="width: 15%">{{'SUMMARY_RAFFICA' | translate}}</th>
                        <th scope="col" style="width: 25%">{{'SUMMARY_STAZIONE' | translate}}</th>
                    </tr>
                </thead>
                <tbody class="omirltbl">
                    <tr ng-repeat="oWindRow in m_oController.getMaxWindSummary()" ng-class="{odd: bHover}" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false">
                        <th scope="row">{{oWindRow.description | translate}}</th>
                        <td>{{oWindRow.max * 3.6  | number:1}} {{m_oController.getFormattedRefDate(oWindRow.refDateWind)}}</td>
                        <td ng-click="m_oController.stationClicked(oWindRow.stationMax, 'Vento')" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false" ng-class="{odd: bHover}">{{oWindRow.stationMax}}</td>
                        <td>{{oWindRow.gust * 3.6  | number:1}} {{m_oController.getFormattedRefDate(oWindRow.refDateGust)}}</td>
                        <td ng-click="m_oController.stationClicked(oWindRow.stationGust, 'Vento')" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false" ng-class="{odd: bHover}">{{oWindRow.stationGust}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
