<div ng-include="'partials/tablesmenu.html'"></div>
<div class="container">

    <div class="Tabella_Stazioni">

        <div class="row">
            <h1 class="medium">Tabella Sintesi</h1>
        </div>

        <hr/>


        <div class="row">
            <!--Panel content-->
            <table class="omirltbl" >
                <caption class="omirltbl"></caption>
                <thead class="omirltbl">
                    <tr>
                        <th scope="col" rowspan="2">Provincia</th>
                        <th scope="col" colspan="4">Sintesi del {{m_oController.getDayString()}} - [Ore Locali]</th>
                    </tr>
                    <tr>
                        <th scope="col" >Min T (°C)</th>
                        <th scope="col" >Nella Stazione</th>
                        <th scope="col" >Max T (°C)</th>
                        <th scope="col" >Nella Stazione</th>
                    </tr>
                </thead>
                <tbody class="omirltbl">
                <tr ng-repeat="oDistrictRow in m_oController.getTemperatureDistrictSummary()"  ng-class="{odd: bHover}" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false">
                    <th scope="row">{{oDistrictRow.description}}</th>
                    <td>{{oDistrictRow.min | number:1}} {{m_oController.getFormattedRefDate(oDistrictRow.refDateMin)}}</td>
                    <td>{{oDistrictRow.stationMin}}</td>
                    <td>{{oDistrictRow.max | number:1}} {{m_oController.getFormattedRefDate(oDistrictRow.refDateMax)}}</td>
                    <td>{{oDistrictRow.stationMax}}</td>
                </tr>
                </tbody>
            </table>

            <br/>
            <br/>
            <table class="omirltbl" >
                <thead class="omirltbl">
                <tr>
                    <th scope="col" rowspan="2">Area Allertamento</th>
                    <th scope="col" colspan="4">Sintesi del {{m_oController.getDayString()}} - [Ore Locali]</th>
                </tr>
                <tr>
                    <th>Min T (°C)</th>
                    <th>Nella Stazione</th>
                    <th>Max T (°C)</th>
                    <th>Nella Stazione</th>
                </tr>
                </thead>
                <tbody class="omirltbl">
                <tr ng-repeat="oAlertRow in m_oController.getTemperatureAlertSummary()" ng-class="{odd: bHover}" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false">
                    <th scope="row">{{oAlertRow.description}}</th>
                    <td>{{oAlertRow.min  | number:1}} {{m_oController.getFormattedRefDate(oAlertRow.refDateMin)}}</td>
                    <td>{{oAlertRow.stationMin}}</td>
                    <td>{{oAlertRow.max  | number:1}} {{m_oController.getFormattedRefDate(oAlertRow.refDateMax)}}</td>
                    <td>{{oAlertRow.stationMax}}</td>
                </tr>
                </tbody>
            </table>


            <br/>
            <br/>
            <table class="omirltbl" >
                <caption>Sintesi Vento del {{m_oController.getDayString()}}</caption>
                <thead class="omirltbl">
                    <tr>
                        <th scope="col" rowspan="2">Zona</th>
                        <th scope="col" colspan="4">Sintesi del {{m_oController.getDayString()}} - [Ore Locali]</th>
                    </tr>
                    <tr>
                        <th scope="col" >Max (km/h)</th>
                        <th scope="col" >Nella Stazione</th>
                        <th scope="col" >Raffica (km/h)</th>
                        <th scope="col" >Nella Stazione</th>
                    </tr>
                </thead class="omirltbl">
                <tbody class="omirltbl">
                    <tr ng-repeat="oWindRow in m_oController.getMaxWindSummary()" ng-class="{odd: bHover}" ng-mouseenter="bHover = true" ng-mouseleave="bHover = false">
                        <th scope="row">{{oWindRow.description}}</th>
                        <td>{{oWindRow.max  | number:1}} {{m_oController.getFormattedRefDate(oWindRow.refDateWind)}}</td>
                        <td>{{oWindRow.stationMax}}</td>
                        <td>{{oWindRow.gust  | number:1}} {{m_oController.getFormattedRefDate(oWindRow.refDateGust)}}</td>
                        <td>{{oWindRow.stationGust}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>