<div style="text-align: center;">
    <h1 class="medium">{{'TABLE_TITOLO' | translate}}</h1><br>

    <hr>

    <div id="tableslist" class="services">
        <div class="row">


            <!--div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Servizi</h2>
                    <hr>
                </div>
            </div-->

            <div class="col-md-2 col-md-offset-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-list-ul" ng-click="m_oController.linkClicked('/stationstable')"></i>
                    <h4><a ng-click="m_oController.linkClicked('/stationstable')" style="cursor: pointer">{{'TABLE_STAZIONI' | translate}}</a></h4>
                    <p>{{'TABLE_STAZIONIDESC' | translate}}</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-umbrella" ng-click="m_oController.linkClicked('/idromodeltable')"></i>
                    <h4><a  ng-click="m_oController.serviceIconClicked('/idromodeltable')"  style="cursor: pointer">{{'TABLE_MODELLIIDRO' | translate}}</a></h4>
                    <p>{{'TABLE_MODELLIIDRODESC' | translate}}</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-th" ng-click="m_oController.linkClicked('/sensorstable')"></i>
                    <h4><a ng-click="m_oController.serviceIconClicked('/sensorstable')">{{'TABLE_SENSORI' | translate}}</a></h4>
                    <p>{{'TABLE_SENSORIDESC' | translate}}</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-arrow-circle-o-up" ng-click="m_oController.linkClicked('/maxtable')"></i>
                    <h4><a ng-click="m_oController.serviceIconClicked('/maxtable')">{{'TABLE_MASSIMI' | translate}}</a></h4>
                    <p>{{'TABLE_MASSIMIDESC' | translate}}</p>
                </div>
            </div>
        </div>
    </div>

</div>