<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>		
		<property name="hibernate.c3p0.max_size">100</property>
	    <property name="hibernate.c3p0.min_size">5</property>
	    <property name="hibernate.c3p0.max_statements">0</property>
	    <property name="hibernate.c3p0.timeout">300</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.validationQuery">SELECT 1</property>
        <property name="connection.testOnBorrow">true</property>
		<property name="connection.url">jdbc:postgresql://192.168.25.10:5432/omirl</property>
		<property name="connection.username">omirl</property>
		<property name="connection.password">mirlo</property>
				
		

		<mapping class="it.fadeout.omirl.business.StationAnag" />
		<mapping class="it.fadeout.omirl.business.StationData" />
		<mapping class="it.fadeout.omirl.business.StationLastData" />
		<mapping class="it.fadeout.omirl.business.SensorLastData" />
		<mapping class="it.fadeout.omirl.business.DataSeriePoint" />
		<mapping class="it.fadeout.omirl.business.CreekThreshold" />
		<mapping class="it.fadeout.omirl.business.SavedPeriod" />
		<mapping class="it.fadeout.omirl.business.OmirlUser" />
		<mapping class="it.fadeout.omirl.business.OpenSession" />
		<mapping class="it.fadeout.omirl.business.SummaryInfoEntity" />
		<mapping class="it.fadeout.omirl.business.Sfloc" />
		<mapping class="it.fadeout.omirl.business.SectionAnag" />
		<mapping class="it.fadeout.omirl.business.MaxTableRow" />
		<mapping class="it.fadeout.omirl.business.WindDataSeriePoint" />
		<mapping class="it.fadeout.omirl.business.SectionBasins" />
		<mapping class="it.fadeout.omirl.business.SectionBasinsCodes" />
	</session-factory>
</hibernate-configuration>