<!doctype html>
<!-- The DOCTYPE declaration above will set the     -->
<!-- browser's rendering engine into                -->
<!-- "Standards Mode". Replacing this declaration   -->
<!-- with a "Quirks Mode" doctype is not supported. -->

<html ng-app="omirl">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    

    <!--                                           -->
    <!-- Any title is fine                         -->
    <!--                                           -->
    <title>Omirl On-Line</title>
    
	<!-- Google Maps Scripts -->    
    <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <!-- Open Layers Scripts -->
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>     

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/customfonts.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="css/omirl.css" rel="stylesheet">
  </head>

  <!--                                           -->
  <!-- The body can have arbitrary html, or      -->
  <!-- you can leave the body empty if you want  -->
  <!-- to create a completely dynamic UI.        -->
  <!--                                           -->
  <body ng-controller="TemplateController">

    <!-- RECOMMENDED if your web app will not function without JavaScript enabled -->
    <noscript>
      <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
    </noscript>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <!--img id="menu-waiting" src="img/Waiting.GIF"  class = "toggle"/-->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><a href="#top">OMIRL</a></li>
        <li><a href="#top">Home</a></li>
		<li><a ng-click="m_oController.serviceIconClicked('/maps')">Dati</a></li>
        <li><a ng-click="m_oController.serviceIconClicked('/tables')">Tabelle</a></li>
        <li><a ng-click="m_oController.serviceIconClicked('/animations')">Satellite e Radar</a></li>
        <li><a ng-click="m_oController.serviceIconClicked('/animations')">Modelli Meteo Marini</a></li>
        <li><a ng-click="m_oController.serviceIconClicked('/credits')">Crediti</a></li>
        <br>
        <li><a ng-click="m_oController.serviceIconClicked('/credits')">Area Riservata</a></li>
      </ul>
    </div>
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area
    <div id="top" class="header">
      <div class="vert-text">
        <h1>OMIRL</h1>
        <h3>Centro Funzionale della Protezione Civile della Regione Liguria</h3>
        <a href="#about" class="btn btn-default btn-lg">Start</a>
      </div>
    </div>
-->
<!-- /Full Page Image Header Area -->
  
    <!-- Intro
    <div id="about" class="intro">-->
    <div id="top" class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>OMIRL on line</h2>
            <p class="lead">Osservatorio Meteo Idrologico della Regione Liguria</p>
          </div>
        </div>
      </div>

        <!-- Services -->
        <div id="services" class="services">
            <div class="container">
                <!--div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <h2>Servizi</h2>
                        <hr>
                    </div>
                </div-->
                <div class="row">
                    <div class="col-md-2 col-md-offset-2 text-center">
                        <div class="service-item">
                            <i class="service-icon fa fa-globe" ng-click="m_oController.serviceIconClicked('/map')"></i>
                            <h4><a ng-click="m_oController.serviceIconClicked('/map')" style="cursor: pointer">Dati</a></h4>
                            <p>Osservazioni georiferite di parametri meteo-marini ed idrologici in tempo reale sulla Liguria.</p>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="service-item">
                            <i class="service-icon fa fa-table" ng-click="m_oController.serviceIconClicked('/tables')"></i>
                            <h4><a  ng-click="m_oController.serviceIconClicked('/tables')"  style="cursor: pointer">Tabelle</a></h4>
                            <p>Elaborazione dati osservati</p>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="service-item">
                            <i class="service-icon fa fa-video-camera" ng-click="m_oController.serviceIconClicked('/animations')"></i>
                            <h4><a ng-click="m_oController.serviceIconClicked('/animations')">Satellite e Radar</a></h4>
                            <p>Mappe di precipitazione e nuvolosità elaborate da sensori remoti.</p>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="service-item">
                            <i class="service-icon fa fa-info" ng-click="m_oController.serviceIconClicked('/credits')"></i>
                            <h4><a ng-click="m_oController.serviceIconClicked('/animations')">Modelli meteo-marini</a></h4>
                            <p>Mappe di previsione dei principali parametri metomarini.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Services -->

    </div>
    <!-- /Intro -->
  


    <!-- Callout -->
    <!--div class="callout">
      <div class="vert-text">
        <!--h1 id="m_h1CalloutTitle">OMIRL on line</h1>
      </div>
    </div-->
    <!-- /Callout -->

	<!-- Map -->
    <div id = "contentcontainer">
	    <div ng-view class="map"></div>
    </div>
    <!-- /Map -->


    <!-- JavaScript -->
	<!-- In production use:
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	-->
    <script src="lib/jquery/jquery-1.10.2.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="lib/azimuthjs/module.js"></script>
    <script src="lib/azimuthjs/services/component/mapService.js"></script>
    <script src="lib/azimuthjs/services/component/layersService.js"></script>
    <script src="lib/azimuthjs/directives/Layer.js"></script>
    <script src="lib/azimuthjs/directives/leafletMap.js"></script>
    <script src="lib/azimuthjs/directives/olMap.js"></script>
    <script src="js/services/ConstantsService.js"></script>
	<script src="js/services/mapNavigatorService.js"></script>
    <script src="js/services/stationsService.js"></script>
    <script src="js/controllers/TemplateController.js"></script>
	<script src="js/controllers/MapController.js"></script>
    <script src="js/controllers/TablesController.js"></script>
    <script src="js/controllers/AnimationsController.js"></script>
    <script src="js/controllers/CreditsController.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
    <script src="js/app.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });

        function OmirlMoveTo(sHash) {
           var target = $(sHash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    </script>
	<script>
				$(resizeMap());
				$(window).resize(resizeMap);

				function resizeMap(){
					var mapHeight = $("#top").height();// - $("#yr-map-header").outerHeight() - $("#yr-map-footer").outerHeight();
                    var mapWidth = $("#top").width();

                    $("#contentcontainer").height(mapHeight);
					
					if ($("#omirlMap") != null) {
						$("#omirlMap").height(mapHeight);
                        $("#omirlMap").width(mapWidth);

					}
				}
	</script>	


  </body>
</html>
